@model Templateprj.Models.ViewModel
@{
    ViewBag.ActLink = ViewBag.Title = "IncidentView";
    System.Data.DataTable incident = ViewBag.Data;
}
<style>
   
</style>
@if (Session["RoleID"].ToString() == "1" || Session["RoleID"].ToString() == "2" || Session["RoleID"].ToString() == "4")
{
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Incidents Report</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {<div style="display:none">
                        @Html.LabelFor(m => m.Type)
                        @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @Value = @ViewBag.Type })
                    </div>                  
                        <div class="row">
                            <div class="form-group col s4">
                                @Html.Label("Date Range", new { })
                                @Html.TextBoxFor(m => m.DateRange, new { @class = "form-control", data_max_date = DateTime.Today.ToString("yyyy-MM-dd H-i") })
                            </div>
                            <div class="form-group col s8" style="margin-top:1%;">
                                <button type="submit" class="ion ion-ios-search-strong btn btn-primary not-close" name="search" value="search"></button>
                                <button type="submit" class="ion ion-android-download btn btn-default not-close" name="export" value="export"></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <br />
                                <button type="submit" class="btn btn-danger not-close" name="open" value="open">Pending</button>
                                @if (Session["RoleID"].ToString() == "1")
                                {
                                    <button type="submit" class="btn btn-info not-close" name="monthlyreport" value="monthlyreport">Month Summery</button>
                                    <button type="submit" class="btn btn-primary not-close" name="Weektreand" value="Weektrend">Week Trend</button>
                                    <button type="submit" class="btn btn-primary not-close" name="monthtreand" value="monthtrend">Month Trend</button>
                                }
                            </div>
                        </div>                   
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (incident != null && incident.Rows.Count != 0)
{
    <div class="row">
        <div class="col s12">
            <div class="card animated bounceInUp">
                <div class="card-body">
                    @if (incident != null && incident.Rows.Count != 0)
                    {
                        <div id="div_Report" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="col-sm-12">
                                <table id="resolved" class="table table-striped table-bordered dataTable dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            @foreach (System.Data.DataColumn column in incident.Columns)
                                            {
                                                if (@column.ColumnName != "ID")
                                                {
                                            <th>@column.ColumnName</th>
                                                }
                                            }
                                            @if (Session["RoleID"].ToString() == "1")
                                            {
                                            <th>Edit</th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (System.Data.DataRow row in incident.Rows)
                                        {
                                            string UrlwithId = "0";
                                        <tr>
                                            @for (int i = 0; i < ViewBag.Data.Columns.Count; i++)
                                                {
                                                    UrlwithId = "Incidents?id=" + row["ID"].ToString();
                                                    if (i > 0)
                                                    {
                                                <td>@row[i].ToString()</td>
                                                    }
                                                }
                                            @if (Session["RoleID"].ToString() == "1" && row["Status"].ToString() != "Closed")
                                            {
                                           
                                                <td><a href=@UrlwithId class="btn btn-round btn-success btn-icon btn-md edit not-close"><i class="far fa-edit"></i></a></td>
                                            }
                                            else if(Session["RoleID"].ToString() == "1" && row["Status"].ToString() == "Closed")
                                            {
                                                <td>
                                                    <button class="btn btn-round btn-danger" disabled hidden></button>                                                    
                                                </td>
                                            }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(document).ready(function () {
            $("#DateRange").flatpickr({ "mode": "range"/*, defaultDate: ["today", "today"]*/ });
            $('#resolved').DataTable({               
                scrollX: true,//remove search               
                scrollY: "500px"                
            });
        });
    </script>
}
