@model Templateprj.Models.ChangePasswordModel
@if (Session["IsMob"] == null)
{
    ViewBag.Title = "Change Password";
    if (Session["PasswordFlag"] != null && Session["PasswordFlag"].ToString() == "0")
    {
        ViewBag.ActLink = "Change Password";
        Layout = "~/Views/Account/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Account/_Layout.cshtml";
    }
}
<style>
    .img-circle {
        border-radius: 50%;
    }

    .card-lock {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    }

    .form-group {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .pwdbubble {
        width: 100%;
        margin: 0;
    }

        .pwdbubble td {
            padding: 5px;
        }

    #pwdbubble {
        display: none;
    }

    ::-webkit-input-placeholder {
        padding-left: 10px;
    }

    .input-group-prepend {
        position: absolute;
        color: darkgrey;
        background-color: #f2f2f2;
        margin-left: -9px;
        padding-bottom: 11px;
        padding-top: 11px;
        padding-right: 5px;
        padding-left: 5px;
    }
</style>
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="row" style="margin:20px;">
    <div class="col-md-6 ml-auto mr-auto mt-5">
        @using (Html.BeginForm(MVC.Account.ChangePassword()))
        {
            @Html.AntiForgeryToken()
            <div class="card card-lock @(@Session["LoginID"] == null? "card card-lock":"")">
                @*@if (Session["LoginID"] == null)
                    {
                        <div class="card-header">
                            <img src="~/assets/img/PTPL-WB-720.png" />
                        </div>
                    }*@
                @*<div class="card-header">
                        <img src="~/assets/img/PTPL-WB-720.png" />
                    </div>*@
                <div class="card-body" style="margin:20px;">
                    <h4 class="card-title text-center" style="margin-top:30px;color:#660033;">@ViewBag.Title</h4>
                    @*@if (Session["LoginID"] != null)
                        {
                            <span class="card-title hide-on-med-and-down">@ViewBag.Title</span>
                        }*@
                    <p class="card-subtitle" style="color:#ff3399;text-align:left;margin-bottom:10px;margin-top:20px;">Fill in the details below</p>
                    <div class="full-width @(@Session["LoginID"] == null? "center":"")">
                        @TempData["Head"]
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock inputIcon" style="font-size:15px"></i></span>

                            @*@Html.LabelFor(m => m.OTP)*@
                            @Html.TextBoxFor(m => m.OTP, new { @class = "form-control", placeholder = "OTP", autocomplete = "off", @onkeypress = "return (event.which!==32)", ondrop = "blur();return false;", oncopy = "return false", onpaste = "return false", oncut = "return false", maxlength = "20" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key inputIcon" style="font-size:15px"></i></span>

                            @*@Html.LabelFor(m => m.NewPassword)*@
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "-New Password-", @style = "border-radius:0px;", @onkeypress = "return (event.which!==32)", autocomplete = "off", ondrop = "blur();return false;", oncopy = "return false", onpaste = "return false", oncut = "return false", maxlength = "20" })
                            <div class="input-group-append">
                                <div class="input-group-text" style="border-radius:0px;height:38px;">
                                    <i class="fas fa-eye-slash" id="eye1" style="margin-left:10px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="color: #ff3399;">
                        [Must Include atleast one uppercase,lowercase,numeric & special character]
                    </p>
                    <div id="pwdbubble" style="width:100%;margin-bottom:20px;margin-top:40px;">
                        <table>
                            <tr>
                                <th style="color:#ff3399;font-size:10px;">Password Strength:</th>
                                <td><i id="strgLgth" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50px;height:10px;" role="progressbar"></i></td>
                                <td><i id="strgCase" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50px;height:10px;" role="progressbar"></i></td>
                                <td><i id="strgNumb" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50px;height:10px;" role="progressbar"></i></td>
                                <td><i id="strgSpec" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50px;height:10px;" role="progressbar"></i></td>
                            </tr>
                        </table>
                        @*<table>
                                <tr><td class="pl-5"></td>  <td><i id="strgLgth" class="ion ion-close-round text-danger "></i></td> <td class="text-left pl-5">Use atleast 8 characters</td></tr>
                                <tr><td class="pl-5"></td>  <td><i id="strgCase" class="ion ion-close-round text-danger"></i></td> <td class="text-left pl-5">Mix lower and upper case letters</td></tr>
                                <tr><td class="pl-5"></td>  <td><i id="strgNumb" class="ion ion-close-round text-danger"></i></td> <td class="text-left pl-5">Use numbers</td></tr>
                                <tr><td class="pl-5"></td>  <td><i id="strgSpec" class="ion ion-close-round text-danger"></i></td> <td class="text-left pl-5">Use special characters</td></tr>
                            </table>*@
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-check inputIcon" style="font-size:15px"></i></span>

                            @*@Html.LabelFor(m => m.ConfirmPassword)*@
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "-Confirm New Password-", @onkeypress = "return (event.which!==32)", @style = "border-radius:0px;", autocomplete = "off", ondrop = "blur();return false;", oncopy = "return false", onpaste = "return false", oncut = "return false", maxlength = "20" })
                            <div class="input-group-append">
                                <div class="input-group-text" style="border-radius:0px;height:38px;">
                                    <i class="fas fa-eye-slash" id="eye2" style="margin-left:10px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="form-control" style="background-color:#5f004b;color:white;padding-bottom:30px;">Change Password</button>
                    </div>
                    <div class="form-group text-center">
                        <a id="btn_resend" class="form-control" style="background-color:#5f004b;color:white;padding-bottom:30px;"> Resend OTP</a>
                    </div>
                </div>

                @if (ViewBag.ErrorMsg != null)
                {
                    <div id="message" class="full-width center">
                        <br /><span class="now-ui-icons text-danger" id="msg"> @ViewBag.ErrorMsg</span><br />
                    </div>
                }
                @*<div class="card-footer">
                            <a id="btn_resend" class="btn btn-warningvlsec btn-round btn-sm not-close"> Resend OTP</a>
                    </div>*@
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/PwdStrg.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$("#btn_resend").click(function () {
				$.post("@Url.Action("ResendOtp", "Account")", function (data) {
					alert(data.Msg, data.Head);
				}).fail(function () {
					alert("Unable to request", "Error");
				});
            });
            $('#eye1').on('click', function () {

                var x = document.getElementById("NewPassword");
                if ($(this).hasClass('fa-eye-slash')) {

                    $(this).removeClass('fa-eye-slash');

                    $(this).addClass('fa-eye');


                    x.type = "text";


                } else {

                    $(this).removeClass('fa-eye');

                    $(this).addClass('fa-eye-slash');

                    x.type = "Password";
                }
            });

            $('#eye2').on('click', function () {

                var y = document.getElementById("ConfirmPassword");
                if ($(this).hasClass('fa-eye-slash')) {

                    $(this).removeClass('fa-eye-slash');

                    $(this).addClass('fa-eye');


                    y.type = "text";


                } else {

                    $(this).removeClass('fa-eye');

                    $(this).addClass('fa-eye-slash');

                    y.type = "Password";
                }
            });

        });
        $(document).ready(function () {
            setTimeout(function () {
                $("#msg").fadeOut();
            }, 2000);
        });
    </script>
}