@model  Templateprj.Models.InstantSms.InstantSmsModel

@{
    ViewBag.Title = "SendInstantSms";

}
<link href="~/Styles/tab.css" rel="stylesheet" />

<div class="row" style="margin-top:50px">
    <div class="col">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
        {

            <div class="container">
                <div class="row">

                    <div class="wizard-navigation">
                        <div class="col-xs-12 navstyle">
                            <ul class="nav">
                                <li class="nav-item" style="width: 150px;height:35px">
                                    <a style="font-size:9.2846px" id="campaigncreationnavitem" class="nav-link active" href="#campaignnav" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        INSTANT SMS
                                    </a>
                                </li>

                                <li class="nav-item " style="width: 111px;height:35px">
                                    <a style="font-size:9.2846px" id="uploadlistnavitem" class="nav-link" href="#uploadbasenav" data-toggle="tab" role="tab" aria-controls="account" aria-selected="false">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        REPORTS
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <a class="btn btn-block text-white dropdown-toggle" style="margin-left:5px;height:25px;text-align:left;background-color:#5f004b;font-size:9.2846px;vertical-align:middle;"
                       data-toggle="collapse" href="#collapseCreateCampaign" role="button" aria-expanded="false">
                        INSTANT SMS
                    </a>

                    <div class="row" style="width:100% !important;">

                        @*<div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>*@
                        @Html.HiddenFor(m => m.TemplateId)

                        <div class="col" style="text-align:right !important;">
                            <button type="button" id="prevBtn" class="btn btn-outline-dark btn-sm" style="margin-top:0px !important" onclick="nextPrev(-1)">Previous</button>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <button type="button" class="btn btn-outline-dark btn-sm" style="margin-top:0px !important" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>

                    </div>

                    <div class="tab-content" style="width:100%">

                        <div class="tab-pane show active navclr" id="campaignnav">
                            <div style="margin-top:4px;background:#ebecf1" class="col">

                                <div class="collapse show" id="collapseCreateCampaign" style="padding:12px">


                                    <!-- Circles which indicates the steps of the form: -->


                                    <div>



                                        <!-- One "tab" for each step in the form: -->
                                        <div class="tab">


                                            <div class="row" style="margin-bottom:4px;">

                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.Label("SMS Type*")

                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            @Html.DropDownListFor(m => m.SmsTypeId, Model.SmsTypes, new { @class = "form-control cl-black", @style = "width:117px", @required = "required" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.Label("Sender Id")

                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            @Html.DropDownListFor(m => m.SenderId, Model.Senders, new { @class = "form-control cl-black", @style = "width:117px", @required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @Html.Label("Select Template*")
                                            <div class="row" style="margin-top:2px;max-height:400px;overflow: scroll;">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="list-group list-group-flush col-12" id="templates">
                                                                <div class="alert alert-dark" role="alert">
                                                                    No data found.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab">
                                            <div class="row" style="margin-bottom:4px;">

                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.Label("SMS Type")

                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            <label id="lbl_SMS_Type">SMS Type</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @Html.Label("Sender")
                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            <label id="lbl_Sender">sender</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="row">
                                                        @Html.Label("Templates")
                                                        </div>
                                                        <div class="row">

                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab">
                                                <div>

                                                    <!-- Editable table -->
                                                    <div class="card">
                                                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                                                            Editable table
                                                        </h3>
                                                        <div class="card-body">
                                                            <div id="table" class="table-editable">
                                                                <span class="table-add float-right mb-3 mr-2">
                                                                    <a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
                                                                </span>
                                                                <table class="table table-bordered table-responsive-md table-striped text-center">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">Person Name</th>
                                                                            <th class="text-center">Age</th>
                                                                            <th class="text-center">Company Name</th>
                                                                            <th class="text-center">Country</th>
                                                                            <th class="text-center">City</th>
                                                                            <th class="text-center">Sort</th>
                                                                            <th class="text-center">Remove</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                                                                            <td class="pt-3-half" contenteditable="true">30</td>
                                                                            <td class="pt-3-half" contenteditable="true">Deepends</td>
                                                                            <td class="pt-3-half" contenteditable="true">Spain</td>
                                                                            <td class="pt-3-half" contenteditable="true">Madrid</td>
                                                                            <td class="pt-3-half">
                                                                                <span class="table-up">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                                                                </span>
                                                                                <span class="table-down">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span class="table-remove">
                                                                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                                                                        Remove
                                                                                    </button>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- This is our clonable table line -->
                                                                        <tr>
                                                                            <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                                            <td class="pt-3-half" contenteditable="true">45</td>
                                                                            <td class="pt-3-half" contenteditable="true">Insectus</td>
                                                                            <td class="pt-3-half" contenteditable="true">USA</td>
                                                                            <td class="pt-3-half" contenteditable="true">San Francisco</td>
                                                                            <td class="pt-3-half">
                                                                                <span class="table-up">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                                                                </span>
                                                                                <span class="table-down">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span class="table-remove">
                                                                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                                                                        Remove
                                                                                    </button>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- This is our clonable table line -->
                                                                        <tr>
                                                                            <td class="pt-3-half" contenteditable="true">Guadalupe House</td>
                                                                            <td class="pt-3-half" contenteditable="true">26</td>
                                                                            <td class="pt-3-half" contenteditable="true">Isotronic</td>
                                                                            <td class="pt-3-half" contenteditable="true">Germany</td>
                                                                            <td class="pt-3-half" contenteditable="true">Frankfurt am Main</td>
                                                                            <td class="pt-3-half">
                                                                                <span class="table-up">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                                                                </span>
                                                                                <span class="table-down">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span class="table-remove">
                                                                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                                                                        Remove
                                                                                    </button>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                        <!-- This is our clonable table line -->
                                                                        <tr class="hide">
                                                                            <td class="pt-3-half" contenteditable="true">Elisa Gallagher</td>
                                                                            <td class="pt-3-half" contenteditable="true">31</td>
                                                                            <td class="pt-3-half" contenteditable="true">Portica</td>
                                                                            <td class="pt-3-half" contenteditable="true">United Kingdom</td>
                                                                            <td class="pt-3-half" contenteditable="true">London</td>
                                                                            <td class="pt-3-half">
                                                                                <span class="table-up">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                                                                </span>
                                                                                <span class="table-down">
                                                                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span class="table-remove">
                                                                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                                                                        Remove
                                                                                    </button>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Editable table -->

                                                </div>
                                            </div>


                                            <div class="tab">
                                                Login Info:
                                                <p><input placeholder="Username..." oninput="this.className = ''"></p>
                                                <p><input placeholder="Password..." oninput="this.className = ''"></p>
                                            </div>



                                        </div>


                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        }

    </div>
    
</div>


@section scripts {
    <script>

        

    $(document).ready(function () {

        $('#SmsTypeId').on('change', function () {
        
        getSendersBySmsType($('#SmsTypeId').val());

        });
        $(document).on('click', '#templates a', function (e) {
            e.preventDefault(); $(this).tab('show');
            var v = e.target.querySelector('p > input');
            console.log(v);
            console.log(v.value);
            $("#TemplateId").val(v.value);



});

        $('#SenderId').on('change', function () {
         
            getTemplatesSendersType($('#SenderId').val());

        });

    function getSendersBySmsType(smstype)
        {
            $.ajax({
                url: "@Url.Action(MVC.InstantSms.GetSendersBySmsType())",
                type: 'GET',
                data: { smstype: smstype },
                success: function (minames) {
                    $("#SenderId").html("");
                    $("#SenderId").append(
                            $('<option></option>').val('').html('-Select-'));
                        $.each(minames, function (i, minames) {
                            $("#SenderId").append(
                                $('<option></option>').val(minames.Value).html(minames.Text));
                        });
                }
            });
        }

     function getTemplatesSendersType(senderId)
        {
            $.ajax({
                url: "@Url.Action(MVC.InstantSms.GetTemplates())",
                type: 'GET',
                data: { senderId: senderId },
                success: function (minames) {
                    $("#templates").html("");
                    if (!$.trim(minames)) {
                        $("#templates").append(
                            '<div class="alert alert-dark" role="alert">'+
                                'No data found.'+
                             '</div>');
                    }
                    else {

                        $.each(minames, function (i, minames) {
                            $("#templates").append(
                                '<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">' +
                                '<div class="d-flex w-100 justify-content-between">' +
                                ' <p>' +
                                minames.Text +
                                '<input id="TemplatesId"+minames.Value type="hidden" value = "' + minames.Value + '" />' +
                                '</p>' +
                                '<small>1/2</small>' +
                                '</div>' +
                                ' </a >');
                        });
                    }
                }
            });
        }

    });



    </script>

    <script>
        const $tableID = $('#table'); const $BTN = $('#export-btn'); const $EXPORT = $('#export');
        const newTr = `
  <tr class="hide">
    <td class="pt-3-half" contenteditable="true">Example</td>
    <td class="pt-3-half" contenteditable="true">Example</td>
    <td class="pt-3-half" contenteditable="true">Example</td>
    <td class="pt-3-half" contenteditable="true">Example</td>
    <td class="pt-3-half" contenteditable="true">Example</td>
    <td class="pt-3-half">
      <span class="table-up"
        ><a href="#!" class="indigo-text"
          ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
      ></span>
      <span class="table-down"
        ><a href="#!" class="indigo-text"
          ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
      ></span>
    </td>
    <td>
      <span class="table-remove"
        ><button
          type="button"
          class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light"
        >
          Remove
        </button></span
      >
    </td>
  </tr>
  `;
        $('.table-add').on('click', 'i', () => {
            const $clone = $tableID.find('tbody        tr ').last().clone(true).removeClass('hide table - line '); if ($tableID.find('tbody tr ').length ===
        0) {
                    $('tbody').append(newTr);
        }
    $tableID.find('table').append($clone);
});
        $tableID.on('click', '.table-remove', function () {
            $(this).parents('tr').detach();
        });
        $tableID.on('click', '.table-up', function () {
            const $row = $(this).parents('tr');
            if ($row.index() === 0) {
                return;
            }
            $row.prev().before($row.get(0));
        });
        $tableID.on('click',
            '.table-down',
            function () {
                const $row = $(this).parents('tr');
                $row.next().after($row.get(0));
            }); // A few jQuery helpers for exporting only jQuery.fn.pop =[].pop;
        jQuery.fn.shift = [].shift;
        $BTN.on('click', () => {
            const $rows =
                $tableID.find('tr:not(:hidden)');
            const headers = [];
            const data = []; // Get the headers
            (add special header logic here) $($rows.shift()).find('th:not(:empty)').each(function () {
                headers.push($(this).text().toLowerCase());
            }); // Turn all existing rows into a loopable
        array $rows.each(function () {
            const $td = $(this).find('td');
            const h = {}; // Use the
            headers from earlier to name our hash keys headers.forEach((header, i) => {
                h[header] =
                    $td.eq(i).text();
            });
            data.push(h);
        }); // Output the result
        $EXPORT.text(JSON.stringify(data));
});
    </script>

    <script>
        
            var currentTab = 0; // Current tab is set to be the first tab (0)
            showTab(currentTab); // Display the current tab

            function showTab(n) {
                // This function will display the specified tab of the form ...
                var x = document.getElementsByClassName("tab");
                x[n].style.display = "block";
                // ... and fix the Previous/Next buttons:
                if (n == 0) {
                    document.getElementById("prevBtn").style.display = "none";
                } else {
                    document.getElementById("prevBtn").style.display = "inline";
                }
                if (n == (x.length - 1)) {
                    document.getElementById("nextBtn").innerHTML = "Submit";
                } else {
                    document.getElementById("nextBtn").innerHTML = "Next";
                }
                // ... and run a function that displays the correct step indicator:
                fixStepIndicator(n)
            }

        function nextPrev(n) {
           
                // This function will figure out which tab to display
                var x = document.getElementsByClassName("tab");
                // Exit the function if any field in the current tab is invalid:
                if (n == 1 && !validateForm()) return false;
                // Hide the current tab:
                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + n;
                // if you have reached the end of the form... :
                if (currentTab >= x.length) {
                    //...the form gets submitted:
                    document.getElementById("regForm").submit();
                    return false;
                }
                // Otherwise, display the correct tab:
                showTab(currentTab);
            }

            function validateForm() {
                // This function deals with validation of the form fields
                var x, y, i, valid = true;
                x = document.getElementsByClassName("tab");
                //alert();
               
                y = x[currentTab].getElementsByTagName("input");

                if ($('#SmsTypeId').val() <= 0 || $('#SenderId').val() <= 0 || $('#TemplateId').val() <= 0 ) {
                    valid = false;
                    ErrorMsg("Please fill all fields");
                }

                // If the valid status is true, mark the step as finished and valid:
                if (valid) {
                    document.getElementsByClassName("step")[currentTab].className += " finish";
                }
                return valid; // return the valid status
            }

            function fixStepIndicator(n) {
                // This function removes the "active" class of all steps...
                var i, x = document.getElementsByClassName("step");
                for (i = 0; i < x.length; i++) {
                    x[i].className = x[i].className.replace(" active", "");
                }
                //... and adds the "active" class to the current step:
                x[n].className += " active";
            }
        
    </script>
}


