@model Templateprj.Models.Managements.ManagementModel
@{
    System.Data.DataTable project = ViewBag.inboundData;

    ViewBag.Title = "Management";
}

<style>
    table.dataTable > tbody > tr > td, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > td, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > thead > tr > th {
        padding: 5px !important;
        outline: 0;
        max-width: 150px;
        width: 150px;
        border-right: 0;
        border-bottom: 0;
        color: black;
    }
    table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc {
        font-size: 9.5pt;
        text-align: center;
        font-weight: bold;
        white-space: nowrap !important;
        table-layout: fixed;
        color: black;
    }


    .alert-danger {
        color: white;
    }

    .alert-success {
        color: white;
    }

    hr {
        border: 1px solid #5f004b
    }

    .box {
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 10px;
    }

    .blue {
        width: 60%;
        background-color: #57b4eb;
    }

    .yellow {
        width: 30%;
        background-color: yellow;
    }

    .red {
        width: 10%;
        background-color: red;
    }

    .head {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    body {
        font-size: 13px !important;
    }

    .form-control {
        border-radius: 10px;
        height: 20px !important;
        padding: 0px 5px !important;
        font-size: 12px !important;
        background-color: white !important;
    }

    .form-group {
        margin-bottom: 4px;
        border-radius:10px;
    }

    .navstyle {
        border: 0px solid black;
    }

        .navstyle > ul > li {
            border: 1px solid #5f004b;
            margin-left: 5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            width: 200px;
        }

    a {
        color: black;
    }

        a:hover {
            color: white;
        }

    .active {
        background-color: #5f004b;
        color: white!important;
    }

        /*.active:hover {
            background-color: #5f004b;
            color: white;
        }*/

    .nav-link {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    label {
        color: #5f004b;
        font-size: 12px;
    }

    .label_side_head {
        color: #5f004b;
        font-size: 12px;
        font-weight: bold;
    }

    .navclr:hover {
        background-color: #ebecf1;
    }

    .navclr {
        background-color: #ebecf1;
    }
    
    .cl-black {
        color: #495057 !important;
    }

    .text-danger {
        width: 109px;
        font-size: 10px;
        height: 0px;
    }

    labelvariable {
        color: #5f004b;
        font-size: 12px;
    }

    .button-edit {
        /*background-color: #5f004b;*/
        border-radius: 10px;
        /*border-bottom-color: #5f004b;*/
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        min-width: 65px !important;
    }
    
</style>

<div class="row" style="margin-top:50px">
    <div class="col">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
        {

            <div class="container" style="margin-left:10px">
                <div class="row">
                    <div class="wizard-navigation">
                        <div class="col-xs-12 navstyle">
                            <ul class="nav">
                                <li class="nav-item" style="width: 130px;height:35px">
                                    <a style="font-size:12px;font-weight:bold;" class="nav-link active" href="@Url.Action("Account", "Management")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        ACCOUNT
                                    </a>
                                </li>
                                <li class="nav-item " style="width: 130px;height:35px">
                                    <a style="font-size:12px;font-weight:bold;" class="nav-link" href="@Url.Action("Templates", "Template")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        TEMPLATES
                                    </a>
                                </li>
                                <li class="nav-item arrow" style="width: 150px;height:35px">
                                    <a style="font-size:12px;font-weight:bold;" class="nav-link" href="@Url.Action("SenderIds", "Management")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        SENDER ID
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" style="background-color:white;">
                <div class="tab-pane show active navclr overlay" id="divCredentialsForApi" style="background-color:white;">

                    <div class="row " style="margin-left: 3px;background-color:white;">
                        <div style="margin-top: 5px; background: white;" class="col-lg-6 col-md-6 col-12">
                            <div class="card" style="margin-top:20px;">
                                <div class="shadow bg-white rounded" style="border-radius:10px;">
                                    <div class="card-header" style="color:#5f004b;font-size:16px;font-weight: bold;">
                                        DLT ACCOUNT DETAILS
                                    </div>
                                    <div class="card-body">
                                        <div class="row gy-5">
                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px; ">@Html.Label("CUSTOMER NAME", new { @class = "label_side_head" })</div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.CustomerName, new { @style = "margin-left:4px;" })  </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("ACCOUNT NUMBER", new { @class = "label_side_head" })  </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.AccountNumber)  </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("BILLING NUMBER", new { @class = "label_side_head" })  </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.BillingNumber)  </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("PRINICIPAL ENTITY ID", new { @class = "label_side_head" })  </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.PrincipalEntityId)  </div>
                                        </div>
                                        <div class="row mt-1"></div>
                                        <div class="row mt-1"></div>
                                        <div class="row">
                                            <div class="col"> <hr></div>
                                        </div>
                                        <div class="row mt-1"></div>
                                        <div class="row mt-1"></div>
                                        <div class="row" id="rw_view">
                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("DLT REGISTERED ACCOUNT NAME", new { @class = "label_side_head" })</div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;" id="divDltAccount"> @Html.DisplayFor(m => m.DltRegisteredAccount)</div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("ACCOUNT EXPIRY", new { @class = "label_side_head" }) </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;" id="divAccountExpiry"> @Html.DisplayFor(m => m.AccountExpiry, new { id = "accExpiryView" }) </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("DLT ADDRESS DETAILS", new { @class = "label_side_head" }) </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;" id="divDltAddress"> @Html.DisplayFor(m => m.DltAddressDetails) </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("DLT EMAIL ADDRESS", new { @class = "label_side_head" })</div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;" id="divEmailAddress"> @Html.DisplayFor(m => m.DltEmailAddress) </div>
                                            <div class="col-md-12" style="text-align:right"> <button id="btn_edit" type="button" style="background:linear-gradient(90deg,#0077b3 0,#0099e6 60%,#0077b3);" class="button-edit"><i class="fa fa-edit" style="text-align:left !important"></i> Edit</button> </div>

                                        </div>

                                        <div class="row" id="rw_edit" style="display:none;">
                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("DLT REGISTERED ACCOUNT NAME", new { @class = "label_side_head" }) <span style="color:red">*</span>  </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;">
                                                @Html.TextBoxFor(m => m.DltRegisteredAccount, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("ACCOUNT EXPIRY", new { @class = "label_side_head" }) <span style="color:red">*</span> </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;">
                                                @Html.TextBoxFor(m => m.AccountExpiry, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("DLT ADDRESS DETAILS", new { @class = "label_side_head" }) <span style="color:red">*</span> </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;">
                                                @Html.TextBoxFor(m => m.DltAddressDetails, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-6" style="padding-top:4px;">@Html.Label("DLT EMAIL ADDRESS", new { @class = "label_side_head" }) <span style="color:red">*</span> </div>
                                            <div class="col-lg-6 col-md-6 col-6" style="text-align:left;padding:4px;">
                                                @Html.TextBoxFor(m => m.DltEmailAddress, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                            </div>
                                            <div class="col-md-12" style="text-align:right"> <button id="btn_save" type="button" class="button-edit"><i class="fa fa-save" style="text-align:left !important"></i> Save</button> </div>
                                            <div class="row mt-1"></div>
                                            <div class="row mt-1"></div>
                                            <div class="row mt-1"></div>
                                            <div class="row mt-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        @*<div style="margin-top: 5px; background: #ebecf1;" class="col-lg-6 col-md-6 col-12">
                            
                                <div class="shadow bg-white rounded" style="border-radius:10px;">
                                    <div class="card-header" style="color:#5f004b;font-size:16px;font-weight: bold;">
                                        CREDENTIALS FOR API
                                    </div>
                                    <div class="card-body">
                                        <div class="row gy-5">
                                            <div class="col-md-6" style="padding-top:4px; ">@Html.Label("User Name", new { @class = "label_side_head" })  </div>
                                            <div class="col-md-6" style="text-align:left;padding:4px;"> - </div>

                                            <div class="col-md-6" style="padding-top:4px;">@Html.Label("Password", new { @class = "label_side_head" })  </div>
                                            <div class="col-md-6" style="text-align:left;padding:4px;"> -  </div>

                                            <div class="col-md-6" style="padding-top:4px;">@Html.Label("Download API Document", new { @class = "label_side_head" })  </div>
                                            <div class="col-md-6" style="text-align:left;padding:4px;"> -  </div>
                                        </div>


                                        <div class="row" id="rw_view">
                                            <div class="col-md-6" style="padding-top:4px;">@Html.Label("Authentication Token", new { @class = "label_side_head" })  </div>


                                            <div class="col-md-12" style="padding-top:4px;"><textarea disabled style="width:100%" rows="4" cols="50"></textarea> </div>

                                            <div class="col-md-6" style="padding-top:4px;">@Html.Label("Validity", new { @class = "label_side_head" })  </div>
                                            <div class="col-md-6" style="text-align:left;padding:4px;" id="divDltAddress"> - </div>

                                        </div>
                                        <div class="row mt-5"></div>
                                        <div class="row mt-4"></div>
                                        <div class="row mt-2"></div>
                                        
                                    </div>
                              
                            </div>
                        </div>*@
                    </div>
                </div>

            </div>
        }

    </div>
</div>
@section scripts {
    <script>
        $("#AccountExpiry").flatpickr({
           
            dateFormat: "d/m/Y"
       
        });

        $(document).on('click', '#btn_edit', function (e) {
            $('#rw_edit').show();
            $('#rw_view').hide();
        });

        $(document).on('click', '#btn_save', function (e) {
      
                var accountModel = {};
                var isValid = $("#DltRegisteredAccount").val() && $("#AccountExpiry").val() && $("#DltAddressDetails").val() && $("#DltEmailAddress").val();
                accountModel.dltRegisteredAccount = $("#DltRegisteredAccount").val();
                accountModel.accountExpiry = $("#AccountExpiry").val();
                accountModel.dltAddressDetails = $("#DltAddressDetails").val();
                accountModel.dltEmailAddress = $("#DltEmailAddress").val();
                if (isValid) {
                    $.ajax({
                        url: "@Url.Action("SaveAccount","Management")",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(accountModel),
                        success: function (e) {

                            jsondata = JSON.parse(e);
                            if (jsondata.status == "1") {
                                SuccessMsg("Successfully update account details");

                                document.getElementById("divDltAccount").innerHTML = accountModel.dltRegisteredAccount;
                                document.getElementById("divDltAddress").innerHTML = accountModel.accountExpiry;
                                document.getElementById("divAccountExpiry").innerHTML = accountModel.dltAddressDetails;
                                document.getElementById("divEmailAddress").innerHTML = accountModel.dltEmailAddress;

                                $('#rw_view').show();
                                $('#rw_edit').hide();
                            }
                            else {
                                ErrorMsg("Failed to save account details.")
                            }
                            console.log(jsondata);
                        }
                    });
                }
                else {
                    ErrorMsg("Please confirm the entries, there are some alerts exist.")
                }
        });
    </script>
}
