@model Templateprj.Models.Managements.AddSenderModel
@{
    System.Data.DataTable project = ViewBag.inboundData;

    ViewBag.Title = "Management";
}

<link href="~/assets/css/common-style.css" rel="stylesheet" />

<div class="row" style="margin-top:50px">
    <div class="col">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "senderform" }))
            {
                <div class="container" style="margin-left:10px">
            <div class="row">
                <div class="wizard-navigation">
                    <div class="col-xs-12 navstyle">
                        <ul class="nav">
                            <li class="nav-item" style="width: 100px;height:35px">
                                <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Account", "Management")">
                                    <btn_searchi class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></btn_searchi>
                                    ACCOUUNT
                                </a>
                            </li>
                            <li class="nav-item " style="width: 111px;height:35px">
                                <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Templates", "Template")">
                                    <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                    TEMPLATES
                                </a>
                            </li>
                            <li class="nav-item arrow" style="width: 131px;height:35px">
                                <a style="font-size:9.2846px" class="nav-link active" href="@Url.Action("SenderIds", "SenderId")">
                                    <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                    SENDER ID
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

                <div class="tab-content" style="margin-left:15px;margin-top:10px;">
                <div class="tab-pane show active navclr">
                    <div class="row" id="divAdd">
                        <div class="col-md-12">
                            @if (!ViewBag.IsEdit)
                            {
                                <p>
                                    <a class="btn btn-block text-white dropdown-toggle" style="text-align:left;background-color:#5f004b;font-size:9.2846px"
                                       data-toggle="collapse" href="#addUpload" role="button" aria-expanded=@(ViewBag.IsEdit ? "true" : "false")>
                                        ADD SENDER ID
                                    </a>
                                </p>
                            }
                                <div class="collapse" id="addUpload">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("Header Id")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.HeaderId, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })
                                                    @Html.HiddenFor(m => m.SmId)
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("Sender Id")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.SenderId, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("Tele Marketer")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.TeleMarketer, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })

                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("RegisteredTsp")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.TeleMarketer, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("Requested On")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.RequestedDate, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })

                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("Status Date")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.StatusDate, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("Status")
                                                <div class="form-group">
                                                    @Html.DropDownListFor(m => m.Status, Model.ApprovalStatus, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-6">
                                                @Html.Label("BlackListed By")
                                                <div class="form-group">
                                                    @Html.TextBoxFor(m => m.BlackListedBy, new { @class = "form-control w-100", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-12">
                                                @Html.Label("Template Message")
                                                <div class="form-group">
                                                    @Html.TextAreaFor(m => m.Explanation, new { @class = "w-100", @rows = "4", @disabled = ((ViewBag.IsEdit ? "disabled" : "")) })

                                                </div>
                                            </div>

                                        </div>

                                        @if (!ViewBag.IsEdit)
                                        {
                                            <div class="row">
                                                <div class="col-12" style="text-align:right">
                                                    <button class="btn-success mt-1" id="addSender" type="button">Add Sender Id</button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-12" style="text-align:right">
                                                    <button class="btn-success mt-1" id="updateSener" type="button">Update</button>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        @if (!ViewBag.IsEdit)
                        {
                            <div class="col-md-12">
                                <div class="row" id="divUpload">
                                    <div class="col-md-12">
                                        <p>
                                            <a class="btn btn-block text-white dropdown-toggle" style="text-align:left;background-color:#5f004b;font-size:9.2846px"
                                               data-toggle="collapse" href="#collapseupload" role="button" aria-expanded="false">
                                                UPLOAD SENDER IDS
                                            </a>
                                        </p>
                                        <div class="collapse ml-5" id="collapseupload">

                                            <div id="fileUploadm2m">
                                                <div class="row">
                                                    <div class="col" style="text-align:right;">
                                                        <a id="samplefiledownlod" style="color:#5f004b;font-size:13px" href="~/Uploads/SenderIdSampleFile.xlsx"><i class="now-ui-icons files_single-copy-04"></i>Sample File</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4" style="text-align:left;">
                                                        <span>@Html.Label("Upload Sender Ids") </span>
                                                        <input style="width:234px;font-size:13px;color:#5f004b;" id="fileToUpload" type="file" name="file" required="required">

                                                    </div>
                                                    <div class="col-4">
                                                        <button class="btn-success" id="uploadfileid" type="button">Upload</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="row" id="divSummary" style="display:none">
                        <div class="col">
                            <span class="btn btn-primary">
                                Total <span class="badge badge-light" id="spnTotal">0</span>
                            </span>
                            <span class="btn btn-danger">
                                Duplicate <span class="badge badge-light" id="spnDuplicate">0</span>
                            </span>
                            <table class="table" id="alertTable">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">TemplateId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            }

            </div>
        </div>
        @section scripts {

            <link href="~/Scripts/virtualkeyboard/keyboard.css" rel="stylesheet" />
            <script type="text/javascript" src="~/Scripts/virtualkeyboard/keyboard.js" charset="UTF-8"></script>
            <script type="text/javascript" src="http://cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
            <script src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
            <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />

            <script>
                $(document).ready(function () {

                    if ($("ContentType").val() == 1) {
                        $('#divVariableCount').hide();
                    }
                    else {
                        $('#divVariableCount').show();
                    }

                    $("#addSender").click(function (e) {
                        //Serialize the form datas.
                        var valdata = $("#senderform").serialize();
                        $.ajax({
                            url: "/SenderId/SenderIds",
                            type: "POST",
                            dataType: 'json',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: valdata
                            , success: function (e) {
                                jsondata = JSON.parse(e);
                                if (jsondata.status == "1") {
                                    $('#divSummary').hide();
                                    $('#divAdd').show();
                                    window.location.href = '/SenderId/SenderIds';
                                }
                                else {
                                    $('#divSummary').show();
                                    $('#divAdd').hide();
                                    $('#addUpload').hide();
                                    ErrorMsg("Failed to save details.")
                                    $('#spnTotal').text(jsondata.data.Total);
                                    $('#spnDuplicate').text(jsondata.data.Duplicate);
                                    $.each(jsondata.data.Data, function (index, val) {
                                        addRow(index + 1, val.PId);
                                    });
                                }
                            }
                        });
                    });
                });
            </script>

            <script>
                $("#RequestedDate").flatpickr({
                    dateFormat: "d/m/Y",
                });

                $("#StatusDate").flatpickr({
                    dateFormat: "d/m/Y",
                });
          </script>

            @*Docuemtn ready*@
            <script type="text/javascript">
       
                $(document).ready(function ()
                {
                    if ('@ViewBag.IsEdit' === 'False') {
                        $("input").removeAttr('disabled', 'disabled');
                        $("select").removeAttr('disabled', 'disabled');
                        $("textarea").removeAttr('disabled', 'disabled');
                    } else {
                        $("#addUpload").collapse('show');
                    }

               });
            </script>

            @*Upload Sender File*@
            <script>

             $('#uploadfileid').on('click', function () {

                 if ($("#senderform").valid()) {

                var fileUpload = $("#fileToUpload").get(0);

                var files = fileUpload.files;

                var fileData = new FormData();
                const fsize = files[0].size;
                console.log(fsize);
                const filesizeinkb = Math.round((fsize / 1024));

                if (filesizeinkb >= 100000) {
                    ErrorMsg("File is too large,Please upload file less than 100 MB")
                }
                else {
                    fileData.append(files[0].name, files[0]);
                    fileData.append("CampaignId", $("#uploadCampaignName").val());
                    fileData.append("starttype", $("#uploadCampaignstarttype").val());
                    $.ajax({
                        url: '@Url.Action(MVC.SenderId.UploadSenderIds())',
                        type: 'post',
                        datatype: 'json',
                        contentType: false,
                        processData: false,
                        async: false,
                        data: fileData,
                        success: function (e) {
                            jsondata = JSON.parse(e);
                            if (jsondata.status == "1") {
                                $('#divSummary').hide();
                                $('#divAdd').show();
                                window.location.href = '/SenderId/SenderIds';
                            }
                            else {
                                $('#divSummary').show();
                                $('#divAdd').hide();
                                $('#addUpload').hide();
                                ErrorMsg("Failed to save details.")
                                $('#spnTotal').text(jsondata.data.Total);
                                $('#spnDuplicate').text(jsondata.data.Duplicate);
                                $.each(jsondata.data.Data, function (index, val) {
                                    addRow(index + 1, val.PId);
                                });
                            }
                        }
                    });
                }




            }
            else {
                ErrorMsg("Please fill in all fields.")
            }


        });

            </script>

            @*Update Temaplte*@
            <script>
        $(document).on('click', '#updateSender', function (e) {

                var templateModel = {};
                var isValid = true;
                templateModel.id = $("#Id").val();
                templateModel.blackListedBy = $("#BlackListedBy").val();
                templateModel.status = $("#Status").val();

                if (isValid) {
                    $.ajax({
                        url: "@Url.Action("Templates", "Template")",
                        type: 'PUT',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(templateModel),
                        success: function (e) {
                            jsondata = JSON.parse(e);
                            if (jsondata.status == "1") {
                                SuccessMsg("Successfully update template details");
                            }
                            else {
                                ErrorMsg("Failed to upate template details.")
                            }
                            console.log(jsondata);
                        }
                    });
                }
                else {
                    ErrorMsg("Please confirm the entries, there are some alerts exist.")
                }
        });
            </script>

            <script>
                function addRow(rid,tid) {
                    var table = document.getElementById("alertTable"); //get the table
                    var rowcount = table.rows.length; //get no. of rows in the table      
                    //append the controls in the row      
                    var tblRow = '<tr><th scope = "row"> ' + rid + '</th><td>' + tid+'</td></tr >';
                    $("#alertTable").append(tblRow);
                }

            </script>
        }
