@model Templateprj.Models.Managements.ManagementModel
@{
    System.Data.DataTable project = ViewBag.inboundData;

    ViewBag.Title = "Management";
}

<style>
    table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc {
        font-size: 9.5pt;
        text-align: center;
        font-weight: bold;
        white-space: nowrap !important;
        table-layout: fixed;
        color: #5f004b;
    }


    .alert-danger {
        color: white;
    }

    .alert-success {
        color: white;
    }

    hr {
        border: 1px solid #5f004b
    }

    .box {
        /*border: 1px solid #878080;*/
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 10px;
        /*min-height: 150px;*/
        /*width:25%;*/
    }

    .blue {
        width: 60%;
        background-color: #57b4eb;
    }

    .yellow {
        width: 30%;
        background-color: yellow;
    }

    .red {
        width: 10%;
        background-color: red;
    }

    .head {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    body {
        font-size: 13px !important;
    }

    .form-control {
        height: 20px !important;
        padding: 0px 5px !important;
        font-size: 12px !important;
        background-color: white !important;
        /*color:#5f004b;*/
    }

    .form-group {
        margin-bottom: 4px;
    }

    /*.card {
        width: 420px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #ded0da;
    }*/

    .navstyle {
        border: 0px solid black;
    }

        .navstyle > ul > li {
            border: 1px solid black;
            background-color: #5f004b;
            margin-left: 5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            width: 200px;
        }

    a {
        color: white;
    }

        a:hover {
            color: white;
        }

    .active {
        background-color: white;
        color: black;
    }

        .active:hover {
            background-color: white;
            color: black;
        }

    .nav-link {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    label {
        color: #5f004b;
        font-size: 12px;
    }

    .label_side_head {
        color: #5f004b;
        font-size: 12px;
        font-weight: bold;
    }

    .navclr:hover {
        background-color: #ebecf1;
    }

    .navclr {
        background-color: #ebecf1;
    }
    /*.dropdown-toggle {
        float: right;
    }*/
    .cl-black {
        color: #495057 !important;
    }

    .text-danger {
        width: 109px;
        font-size: 10px;
        height: 0px;
    }

    labelvariable {
        color: #5f004b;
        font-size: 12px;
    }

    .button-edit {
        background-color: #5f004b;
        border-radius: 10px;
        border-bottom-color: #5f004b;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        min-width: 65px !important;
    }
</style>

<div class="row" style="margin-top:50px">
    <div class="col">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
        {


        <div class="container" style="margin-left:10px">
            <div class="row">
                <div class="wizard-navigation">
                    <div class="col-xs-12 navstyle">
                        <ul class="nav">
                            <li class="nav-item" style="width: 100px;height:35px">
                                <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Account", "Management")">
                                    <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                    ACCOUUNT
                                </a>
                            </li>
                            <li class="nav-item " style="width: 111px;height:35px">
                                <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Templates", "Management")">
                                    <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                    TEMPLATES
                                </a>
                            </li>
                            <li class="nav-item arrow" style="width: 131px;height:35px">
                                <a style="font-size:9.2846px" class="nav-link active" href="@Url.Action("SenderIds", "Management")">
                                    <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                    SENDER ID
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="tab-content">
                <div class="tab-pane show active navclr" id="Instantsmsnav">
                    <div style="margin-top:5px;background:#ebecf1" class="col-md-8">

                        <div class="shadow bg-white rounded" style="border-radius:10px;">
                            <div class="card-header" style="color:#5f004b;font-size:16px;font-weight: bold;">
                                DLT ACCOUNT DETAILS
                            </div>
                            <div class="card-body">
                                <div class="row gy-5">
                                    <div class="col-md-6" style="padding-top:4px; ">@Html.Label("CUSTOMER NAME", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.CustomerName)  </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("ACCOUNT NUMBER", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.AccountNumber)  </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("BILLING NUMBER", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.AccountID)  </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("PRINICIPAL ENTITY ID", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.BuildingNumber)  </div>
                                </div>
                                <div class="row mt-1"></div>
                                <div class="row mt-1"></div>
                                <div class="row">
                                    <div class="col"> <hr></div>

                                </div>
                                <div class="row mt-1"></div>
                                <div class="row mt-1"></div>
                                <div class="row" id="rw_view">
                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("DLT REGISTERED ACCOUNT NAME", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.DltRegisteredAccount) </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("ACCOUNT EXPIRY", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.AccountExpiryDescription) </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("DLT ADDRESS DETAILS", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.DltAddressDetails) </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("DLT EMAIL ADDRESS", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;"> @Html.DisplayFor(m => m.DltEmailAddress) </div>
                                    <div class="col-md-12" style="text-align:right"> <button id="btn_edit" type="button" class="button-edit"><i class="fa fa-edit" style="text-align:left !important"></i> Edit</button> </div>

                                </div>

                                <div class="row" id="rw_edit" style="display:none;">
                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("DLT REGISTERED ACCOUNT NAME", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;">
                                        @Html.TextBoxFor(m => m.DltRegisteredAccount, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                    </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("ACCOUNT EXPIRY", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;">
                                        @Html.TextBoxFor(m => m.AccountExpiry, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                    </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("DLT ADDRESS DETAILS", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;">
                                        @Html.TextBoxFor(m => m.DltAddressDetails, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                    </div>

                                    <div class="col-md-6" style="padding-top:4px;">@Html.Label("DLT EMAIL ADDRESS", new { @class = "label_side_head" })  </div>
                                    <div class="col-md-6" style="text-align:left;padding:4px;">
                                        @Html.TextBoxFor(m => m.DltEmailAddress, new { @class = "form-control", required = "required", @style = "height: auto !important;background:white;", @rows = "5" })
                                    </div>
                                    <div class="col-md-12" style="text-align:right"> <button id="btn_save" type="button" class="button-edit"><i class="fa fa-save" style="text-align:left !important"></i> Save</button> </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                @*<div class="tab-pane navclr" id="campaignreportsnav">
                    <div class="row ml-3 mt-3">
                        <div class="col-md-2">
                            @Html.Label("Template Name")
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.reportCampaignStatus, Model.reportCampaignStatusList, new { @class = "form-control cl-black", @required = "required" })

                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Template Type")
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.reportCampaignStatus, Model.reportCampaignStatusList, new { @class = "form-control cl-black", @required = "required" })

                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Template Id")
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.reportCampaignStatus, Model.reportCampaignStatusList, new { @class = "form-control cl-black", @required = "required" })

                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Header/Sender Id")
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.reportCampaignStatus, Model.reportCampaignStatusList, new { @class = "form-control cl-black", @required = "required" })

                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Status")
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.reportCampaignStatus, Model.reportCampaignStatusList, new { @class = "form-control cl-black", @required = "required" })

                            </div>
                        </div>
                        <div class="col-md-2">
                            @Html.Label("Content Type")
                            <div class="form-group">
                                @Html.DropDownListFor(m => m.reportCampaignPriority, Model.reportCampaignPriorityList, new { @class = "form-control cl-black", @required = "required" })

                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="button" id="btn_showreport" style="height:36px" class="btn btn-outline-success">Search</button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">


                                <div class="card-body col-sm-12" style="width:1100px">
                                    <div class="col-sm-12" id="divTablereport" style="overflow-x:auto !important;">
                                        <table id="tbl_rptreport" class="table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="width:100% !important;" cellspacing="0"></table>
                                    </div>
                                    <div class="alert alert-info" id="divNoData" style="display:none;">
                                        <span>No data found for the search</span>
                                    </div>
                                
                                </div>

                            </div>
                        </div>
                    </div>

                </div>*@

            </div>
        }

</div>
@section scripts {
    <script>
        $("#AccountExpiry").flatpickr({
           
            dateFormat: "d/m/Y",
       
        });

        $(document).on('click', '#btn_edit', function (e) {
            $('#rw_edit').show();
            $('#rw_view').hide();
        });
        $(document).on('click', '#btn_save', function (e) {
      
                var accountModel = {};
                var isValid = true;
                accountModel.dltRegisteredAccount = $("#DltRegisteredAccount").val();
                accountModel.accountExpiry = $("#AccountExpiry").val();
                accountModel.dltAddressDetails = $("#DltAddressDetails").val();
                accountModel.dltEmailAddress = $("#DltEmailAddress").val();
                if (isValid) {
                    $.ajax({
                        url: "@Url.Action("SaveAccount","Management")",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(accountModel),
                        success: function (e) {

                            jsondata = JSON.parse(e);
                            if (jsondata.status == "1") {
                                location.reload();

                                SuccessMsg("Successfully update account details");
                                $('#rw_view').show();
                                $('#rw_edit').hide();
                            }
                            else {
                                ErrorMsg("Failed to save account details.")
                            }
                            console.log(jsondata);
                        }
                    });
                }
                else {
                    ErrorMsg("Please confirm the entries, there are some alerts exist.")
                }
        });
    </script>
}
