@{
    System.Data.DataTable project = ViewBag.inboundData;

    ViewBag.Title = "Management";
}

<link href="~/assets/css/common-style.css" rel="stylesheet" />

<div class="row" style="margin-top:50px">
    <div class="col">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
        {

            <div class="container" style="margin-left:10px">
                <div class="row">
                    <div class="wizard-navigation">
                        <div class="col-xs-12 navstyle">
                            <ul class="nav">
                                <li class="nav-item" style="width: 100px;height:35px">
                                    <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Account", "Management")">
                                        <btn_searchi class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></btn_searchi>
                                        ACCOUNT
                                    </a>
                                </li>
                                <li class="nav-item " style="width: 111px;height:35px">
                                    <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Templates", "Template")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        TEMPLATES
                                    </a>
                                </li>
                                <li class="nav-item arrow" style="width: 131px;height:35px">
                                    <a style="font-size:9.2846px" class="nav-link active" href="@Url.Action("SenderIds", "SenderId")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        SENDER ID
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" style="margin-left:15px;margin-top:10px;">
                <div class="tab-pane show active navclr">
                    <div class="row" id="divList">
                        <div class="col">
                            @*Listing table*@
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body col-12">
                                            <div class="col-12 w-100" id="divTablereport" style="overflow-x:auto !important;">
                                                <a class="btn btn-outline-info" href="AddSenderId" style="float:right"><i class="fa fa-plus"></i></a>
                                                <table id="tbl_rptreport" class="table-striped table-bordered dataTable dtr-inline w-100" role="grid" aria-describedby="datatable_info"></table>
                                            </div>
                                            <div class="alert alert-info" id="divNoData" style="display:none;">
                                                <span>No data found for the search</span>
                                            </div>
                                            <div class="d-flex justify-content-center" id="loading" style="display:none !important;">
                                                <div class="spinner-grow" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div class="spinner1" style="display:none">
    <div class="center-div">
        <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
@section scripts {

    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"></script>

    <script>
     $(document).ready(function () {
     loadReportreport();
     if ('@TempData["Message"]' !== '') {
                SuccessMsg('@TempData["Message"]');
            }
      });

     $(document).on('click', '#btnSearch', function (e) {
                loadReportreport();
       });
     function deleteSender(senderId) {
                $.ajax({
                    url: "@Url.Action("SenderIds", "SenderId")",
                    data: { id: senderId },
                    type: 'DELETE',
                    success: function (e) {
                        jsondata = JSON.parse(e);
                        if (jsondata.status == "1") {
                            location.reload();
                            SuccessMsg("Successfully removed");
                        }
                        else {
                            ErrorMsg("Failed to remove the template.")
                        }
                    }
                });
            }
     function editTemplate(templateId) {
                alert(templateId);
            }
    </script>

    @*List Templates*@
    <script>
        var columnHeaders = [];
        var columnKeys = [];
        function loadReportreport() {

            $("#loading").show();

            $("#divNoData").hide();
            $.get("@Url.Action(MVC.SenderId.GetSenders())", function (resp) {

                    $("#loading").hide();
                    $(".spinner-grow").hide();
                if (jQuery.isEmptyObject(resp)) {
                    $("#divNoData span").text("No data available");
                    $("#divNoData").show();
                    $("#divTablereport").hide();
                }
                else {
                    var headers = [];
                    headers.push({ "data": 'HeaderId', "title": 'Header Id', "name": 'HeaderId' });
                    headers.push({ "data": 'SenderId', "title": 'Sender Id', "name": 'SenderId' });
                    headers.push({ "data": 'TeleMarketer', "title": 'Tele Marketer', "name": 'TeleMarketer' });
                    headers.push({ "data": 'Explanation', "title": 'Explanation', "name": 'Explanation' });
                    headers.push({ "data": 'RegisteredTsp', "title": 'Registered TSP', "name": 'RegisteredTsp' });
                    headers.push({ "data": 'RequestedDate', "title": 'Requested Date', "name": 'RequestedDate' });
                    headers.push({ "data": 'StatusDate', "title": 'Status Date', "name": 'StatusDate' });
                    headers.push({ "data": 'Status', "title": 'Status', "name": 'Status' });
                    headers.push({ "data": 'BlackListedBy', "title": 'BlackListed By', "name": 'BlackListedBy' });
                    headers.push({
                        "title": "Manage",
                        "data": "TemplateId",
                        "width": "50px !mportant",
                        "render": function (data1, type, row) {
                            return `<p>
                                                <a class="edit" title="Add" data-toggle="tooltip" href="AddSenderId/`+ row.SmId + `" style="color: #004d00 !important""><i class='fas fa-edit'></i></a>
                                                
                                         </p>`;
                        }
                    });

                    $("#tbl_rptreport").show();
                    $("#divTablereport").show();

                    rpt_datatable = $("#tbl_rptreport").DataTable({
                        responsive: true,
                        deferRender: true,
                        "destroy": true,
                        bFilter: false,
                        bInfo: false,
                        "data": resp,
                        "columns":
                            headers,
                        "columnDefs": [
                            { "width": "30px !important", "targets": 0 }
                        ],
                        fnInitComplete: function (o) {
                            $("#loading").hide();
                            $(".spinner-grow").hide();
                        },
                    });
                }

                }).fail(function (xhr, status, error) {
                    $("#loading").hide();
                    $(".spinner-grow").hide();
                    $("input[type=button]").removeAttr("disabled");
                    if (xhr.status == 401) {
                        alert("Click to continue", "Session Timedout", function () {
                            closing = false;
                            window.location = JSON.parse(xhr.responseText).LogOnUrl;
                        })
                    }
                    else if (xhr.status == 507) {
                        $("#divNoData span").text(" Result is too large.");
                        $("#divNoData").show();
                        $("input[type=button]").removeAttr("disabled");
                    } else {
                        alert("Unable to fetch data from server", "Failed");
                    }
                    });
        }

    </script>

}
