@model Templateprj.Models.Managements.TemplateModel
@{
    System.Data.DataTable project = ViewBag.inboundData;

    ViewBag.Title = "Management";
}

<style>
    table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc {
        font-size: 9.5pt;
        text-align: center;
        font-weight: bold;
        white-space: nowrap !important;
        table-layout: fixed;
        color: #5f004b;
    }


    .alert-danger {
        color: white;
    }

    .alert-success {
        color: white;
    }

    hr {
        border: 1px solid #5f004b
    }

    .box {
        /*border: 1px solid #878080;*/
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 10px;
        /*min-height: 150px;*/
        /*width:25%;*/
    }

    .blue {
        width: 60%;
        background-color: #57b4eb;
    }

    .yellow {
        width: 30%;
        background-color: yellow;
    }

    .red {
        width: 10%;
        background-color: red;
    }

    .head {
        position: sticky;
        top: 0;
        z-index: 5;
    }

    body {
        font-size: 13px !important;
    }

    .form-control {
        height: 20px !important;
        padding: 0px 5px !important;
        font-size: 12px !important;
        background-color: white !important;
        /*color:#5f004b;*/
    }

    .form-group {
        margin-bottom: 4px;
    }

    /*.card {
        width: 420px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #ded0da;
    }*/

    .navstyle {
        border: 0px solid black;
    }

        .navstyle > ul > li {
            border: 1px solid black;
            background-color: #5f004b;
            margin-left: 5px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            width: 200px;
        }

    a {
        color: white;
    }

        a:hover {
            color: white;
        }

    .active {
        background-color: white;
        color: black;
    }

        .active:hover {
            background-color: white;
            color: black;
        }

    .nav-link {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    label {
        color: #5f004b;
        font-size: 12px;
    }

    .label_side_head {
        color: #5f004b;
        font-size: 12px;
        font-weight: bold;
    }

    .navclr:hover {
        background-color: #ebecf1;
    }

    .navclr {
        background-color: #ebecf1;
    }
    /*.dropdown-toggle {
        float: right;
    }*/
    .cl-black {
        color: #495057 !important;
    }

    .text-danger {
        width: 109px;
        font-size: 10px;
        height: 0px;
    }

    labelvariable {
        color: #5f004b;
        font-size: 12px;
    }

    .button-edit {
        background-color: #5f004b;
        border-radius: 10px;
        border-bottom-color: #5f004b;
        color: white;
        padding: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        min-width: 65px !important;
    }

    .choose-position .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 105px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 35px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 20px rgba(35, 49, 45, 0.14);
    }
</style>

<div class="row" style="margin-top:50px">
    <div class="col">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
        {


            <div class="container" style="margin-left:10px">
                <div class="row">
                    <div class="wizard-navigation">
                        <div class="col-xs-12 navstyle">
                            <ul class="nav">
                                <li class="nav-item" style="width: 100px;height:35px">
                                    <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("Account", "Management")">
                                        <btn_searchi class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></btn_searchi>
                                        ACCOUUNT
                                    </a>
                                </li>
                                <li class="nav-item " style="width: 111px;height:35px">
                                    <a style="font-size:9.2846px" class="nav-link active" href="@Url.Action("Templates", "Template")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        TEMPLATES
                                    </a>
                                </li>
                                <li class="nav-item arrow" style="width: 131px;height:35px">
                                    <a style="font-size:9.2846px" class="nav-link" href="@Url.Action("SenderIds", "Management")">
                                        <i class="now-ui-icons loader_gear sidebar-mini-icon mt-1"></i>
                                        SENDER ID
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" style="margin-left:15px;margin-top:10px;">
                <div class="tab-pane show active navclr" >
                    <div class="row" id="divList">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Template Name")

                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.TemplateName, new { @class = "form-control cl-black", id = "txtName", autocomplete = "off" })
                                        @*<input type="text" id="txtName" name="CustomerName" class="form-control autocomplete" autocomplete="off" />*@
                                        <input type="hidden" id="hfCustomer" name="CustomerId" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.Label("Template Type")
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.TemplateTypeId, Model.TemplateTypes, new { @class = "form-control cl-black"})

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.Label("Template Id")
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.TemplateId, Model.TemplateIds, new { @class = "form-control cl-black"})

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.Label("Header/Sender Id")
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.HeaderSenderId, Model.HeaderSenders, new { @class = "form-control cl-black"})

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.Label("Status")
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.StatusId, Model.Status, new { @class = "form-control cl-black"})

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @Html.Label("Content Type")
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.ContentTypeId, Model.ContentTypes, new { @class = "form-control cl-black" })

                                    </div>
                                </div>

                                <div class="col" style="text-align:right">

                                    <button type="button" class="btn btn-outline-info" id="btnNewTemplate">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>

                                    <button id="btnSearch" type="button" class="btn btn-outline-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                                        </svg>
                                        Search
                                    </button>


                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">


                                        <div class="card-body col-sm-12" style="width:1100px">
                                            <div class="col-sm-12" id="divTablereport" style="overflow-x:auto !important;">
                                                <table id="tbl_rptreport" class="table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="datatable_info" style="width:100% !important;"></table>
                                            </div>
                                            <div class="alert alert-info" id="divNoData" style="display:none;">
                                                <span>No data found for the search</span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="divAdd" style="display:none;">
                        <div class="col">
                            <div class="row">
                                <div class="col-3">
                                    @Html.Label("Content Type")
                                    <div class="form-group">
                                        <input id="templateId" style="width:100%">

                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Tele Marketer")
                                    <div class="form-group">
                                        <input id="teleMarketer" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Category")
                                    <div class="form-group">
                                        <input id="category" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Consent Type")
                                    <div class="form-group">
                                        <input id="consent" style="width:100%">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    @Html.Label("Created By")
                                    <div class="form-group">
                                        <input id="createdBy" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Reason")
                                    <div class="form-group">
                                        <input id="reason" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Registered Dlt")
                                    <div class="form-group">
                                        <input id="registeredDlt" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Requested On")
                                    <div class="form-group">
                                        <input id="requestedOn" style="width:100%">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    @Html.Label("Status")
                                    <div class="form-group">
                                        <input id="templateId" style="width:100%">

                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("StatusDate")
                                    <div class="form-group">
                                        <input id="statusDate" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("TeleMarketer")
                                    <div class="form-group">
                                        <input id="teleMarketer" style="width:100%">
                                    </div>
                                </div>

                                <div class="col-3">
                                    @Html.Label("Template Id")
                                    <div class="form-group">
                                        <input id="templateId" style="width:100%">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @Html.Label("Template Message")
                                    <div class="form-group">
                                        @*<input type="text" id="templateMessage" style="width:100%">*@
                                        <input type="text" value="" class="keyboardInput">

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-3">
                                    @Html.Label("Type")
                                    <div class="form-group">
                                        <input id="type" style="width:100%">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        }

            </div>
</div>
    @section scripts {

        <link href="~/Scripts/virtualkeyboard/keyboard.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Scripts/virtualkeyboard/keyboard.js" charset="UTF-8"></script>

        @*<script type="text/javascript" src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>*@
        @*<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>*@
        <script type="text/javascript" src="http://cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        <script>
            $(document).on('click', '#btnSearch', function (e) {
                loadReportreport();
            });

            function loadReportreport() {

                //$("#loading").show();
                //$("#divNoData").hide();
                //$("input[type=button]").attr("disabled", "disabled");
                $.post("@Url.Action(MVC.Template.GetTemplates())", $("form").serialize(), function (resp) {

                    console.log(resp);

                    //if (jQuery.isEmptyObject(resp.tdata)) {

                    //    $("#divNoData span").text(" No data available");
                    //    //$("#divNoData").show();
                    //    $("input[type=button]").removeAttr("disabled");
                    //    $("#loading").hide();
                    //    $("#divTablereport").hide();
                    //    ErrorMsg('No data available');
                    //}
                    //else
                    {
                        $("#tbl_rptreport").show();
                        $("#divTablereport").show();

                        rpt_datatable = $("#tbl_rptreport").DataTable({
                            responsive: true,
                            deferRender: true,
                            "header": ["TemplateName","Type"],
                            "destroy": true,
                            bFilter: false, bInfo: false,
                            "data": resp,
                            "columns": [
                                { "title": "Template Id", "data": "TemplateId", name: 'TemplateId' },
                                { "title": "Tele Marketer", "data": "TeleMarketer", name: 'TeleMarketer' },
                                { "title": "Template Name" ,"data": 'TemplateName', name:'TemplateName' },
                                { "title": "Template Type", "data": "Type", name: 'Type' },
                                { "title": "Category", "data": "Category", name: 'Category' },
                                { "title": "Registered DLT", "data": "RegisteredDlt", name: 'RegisteredDlt' },
                                { "title": "Requested On", "data": "RequestedOn", name: 'RequestedOn' },
                                { "title": "Status Date", "data": "StatusDate", name: 'StatusDate' },
                                { "title": "Created By", "data": "CreatedBy", name: 'CreatedBy' },
                                { "title": "Approval Status", "data": "ApprovalStatus", name: 'ApprovalStatus' },
                                { "title": "Status", "data": "Status", name: 'Status' },
                                { "title": "Template Message", "data": "TemplateMessage", name: 'TemplateMessage' },
                                { "title": "ConsentType", "data": "ConsentType", name: 'ConsentType' },
                                { "title": "Reason", "data": "Reason", name: 'Reason' },
                                {
                                    "title": "Manage",
                                    "data": "TemplateId",
                                             "width": "55px" ,

                                    "render": function (data, type, row) {
                                        return `<p>
                                                <button class='delete' onClick="deleteTemplate(`+ data +`)" ><i class='fas fa-trash'></i></button>
                                                <button class='edit'><i class='fas fa-edit'></i></button>
                                                </p>`;
                                    }
                                },

                            ],
                            "columnDefs": [
                                { "width": "20% !important", "targets": 14 }
                            ]
                            //dom: 'Bfrtip',
                            //buttons: [
                            //    {
                            //        extend: 'excelHtml5',
                            //        title: "Campaign Report",
                            //    },
                            //    {
                            //        extend: 'csvHtml5',
                            //        title: "Campaign Report",
                            //    }
                            //],
                            //order: [],
                            //fnInitComplete: function (o) {
                            //    $("#loading").hide();
                            //    $("input[type=button]").removeAttr("disabled");

                            //},
                        });
                    }
                    //$("#loading").hide();
                    //$("input[type=button]").removeAttr("disabled");
                }).fail(function (xhr, status, error) {
                    alert('e')
                    $("#loading").hide();
                    $("input[type=button]").removeAttr("disabled");
                    if (xhr.status == 401) {
                        alert("Click to continue", "Session Timedout", function () {
                            closing = false;
                            window.location = JSON.parse(xhr.responseText).LogOnUrl;
                        })
                    }
                    else if (xhr.status == 507) {
                        $("#divNoData span").text(" Result is too large.");
                        $("#divNoData").show();
                        $("input[type=button]").removeAttr("disabled");
                    } else {
                        alert("Unable to fetch data from server", "Failed");

                    }
                });
            }

            function deleteTemplate(templateId) {
                $.ajax({
                    url: "@Url.Action("Templates", "Template")",
                    data: { id: templateId },
                    type: 'DELETE',
                    success: function (e) {
                        jsondata = JSON.parse(e);
                        if (jsondata.status == "1") {
                            location.reload();
                            SuccessMsg("Successfully removed");
                        }
                        else {
                            ErrorMsg("Failed to remove the template.")
                        }
                    }
                });
            }
            function editTemplate(templateId) {
                alert(templateId);
            }
        </script>


        <script type="text/javascript">


            $(document).ready(function () {
                var  items = [];
                $.ajax({
                                url: "@Url.Action("GetTemplateNames", "Template")",
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {

                                    map = {};
                                    $.each(data, function (i, item) {
                                        var id = item.Id;
                                        var name = item.Value;
                                        map[name] = { id: id, name: name };
                                        items.push(name);
                                    });
                                    //response(items);

                                    //$(".dropdown-menu").css("height", "auto");
                                },
                                error: function (response) {
                                    alert(response.responseText);
                                },
                                failure: function (response) {
                                    alert(response.responseText);
                                }
                            });

                $('#txtName').typeahead({
                source: function (request, response) {
                    response(items);
                },
                matcher: function (item) {
                    if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
                        return true;
                    }
                },
                updater: function (item) {
                    $('#hfCustomer').val(map[item].id);
                    return item;
                }
            });
                });
            loadReportreport();

        </script>

        <script>
            $(document).on('click', '#btnNewTemplate', function (e) {
                $('#divAdd').show();
                $("#divList").hide();
            });
        </script>

    }
