@{
    Layout = "~/Views/Shared/_LayoutPageCampaign.cshtml";
}

@model  Templateprj.Models.CampaignModel
@{
    ViewBag.Title = "CreateCampaign";

}
<style>

    .arrow {
        height: 40px;
        position: relative;
        background: #DEE0E4;
        margin-right: 20px
    }

        .arrow:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 20px solid white;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

        .arrow:before {
            content: "";
            position: absolute;
            right: -20px;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 20px solid #DEE0E4;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
        }

    .summary {
        background-color: #D6D7DC;
        height: 40px;
        padding: 10px 0 0 10px;
        margin-bottom: 10px;
    }

/*slider*/
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }

    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
    .disabled-link {
        pointer-events:none;
    }


</style>
<div class="content" id="top">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col s6">
                            @if ((String.IsNullOrEmpty(ViewBag.campId)))
                            {
                                <h5 class="text">Create Campaign</h5>
                            }
                            else
                            {
                                <h5 class="text">Update Campaign</h5>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wizard-container">
    <div class="card card-wizard active" data-color="primary" id="wizardProfile">
        @using (Html.BeginForm("CreateCampaign", "Campaign", FormMethod.Post, new { enctype = "multipart/form-data", id = "Idform" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.campaignId, new { @id = "campaId" })

            @*<form action="" method="" novalidate="novalidate">*@
            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
            <div class="card-header text-center" data-background-color="orange">
                @*<h3 class="card-title">
                    Configure VMN
                </h3>*@
                @*<h3 class="description">This information will let us know more about you.</h3>*@

                <div class="wizard-navigation">
                    <ul class="nav">
                        <li class="nav-item arrow" style="width: 180px;">
                            <a class="nav-link  disabled-link" href="#basicDetails" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true">
                                Basic Details
                            </a>
                        </li>
                        <li class="nav-item arrow" style="width: 180px;">
                            <a class="nav-link disabled-link" href="#customerDetails" data-toggle="tab" role="tab" aria-controls="account" aria-selected="false">
                                Customer Details
                            </a>
                        </li>
                        <li class="nav-item arrow" style="width: 180px;">
                            <a class="nav-link disabled-link" href="#feedbackForm" data-toggle="tab" role="tab" aria-controls="account" aria-selected="false">
                                Feedback Form
                            </a>
                        </li>
                        @*<li class="nav-item arrow" style="width: 180px;">
                            <a class="nav-link" href="#agents" data-toggle="tab" role="tab" aria-controls="address" aria-selected="false">
                                Agents
                            </a>
                        </li>*@
                        <li class="nav-item arrow" style="width: 180px;">
                            <a class="nav-link disabled-link" href="#review" data-toggle="tab" role="tab" aria-controls="about" aria-selected="false">
                                Review & Publish
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane show active" id="basicDetails">

                        <div class="col-md-6 offset-md-3 offset-lg-3">
                            @Html.Label("Campaign Name")
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.campaignName, new { @class = "form-control", required = "required", minlenght = "5", maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-3 offset-lg-3">
                            @Html.Label("Campaign Description")
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.campaignDescription, new { @class = "form-control", row = "3", required = "required", minlenght = "10", maxlength = "100" })
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-3 offset-lg-3">
                            @Html.Label("Call Type")
                            <div class="form-group">
                                @Html.DropDownListFor(Model => Model.callType, Model.callTypeList, new { @class = " form-control", required = "required" })
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="customerDetails">
                        <div class="d-flex justify-content-around">

                            <div class="col-3" id="numMaskingDiv">
                                <div>@Html.Label("Number Masking")</div>
                                <label class="switch">
                                    @Html.CheckBoxFor(Model => Model.numberMasking, new { @class = "form-control" })
                                    <span class="slider round"></span>
                                </label>
                            </div>

                            <div class="col-3">
                                <div>@Html.Label("Custom Fields")</div>
                                <label class="switch">
                                    @Html.CheckBoxFor(Model => Model.customFields, new { @class = "form-control" })
                                    <span class="slider round"></span>
                                </label>
                            </div>

                            <div class="col-3">
                                <div style="margin-left:60px">@Html.Label("Agent Mapping")</div>
                                <div class="d-flex">
                                    <span>Equal Division</span>
                                    <label class="switch" >
                                        @Html.CheckBoxFor(Model => Model.agentMapping, new { @class = "form-control" })
                                        <span class="slider round" style="width:60px"></span>
                                    </label>
                                    <span class="ml-5">From File</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="mt-2" style="width:100%;height:25px; background-color:#D6D6DC">
                                <h6 class="ml-2">Mandatory Details</h6>
                            </div>
                            <div class="mt-2">
                                <ul>
                                    <li>Customer Number </li>
                                    <li>Customer Name</li>
                                </ul>
                            </div>
                        </div>
                        @*<div>
                            <div class="mt-4" style="width:100%;height:25px; background-color:#D6D6DC">
                                <h6 class="ml-2">Basic Details <i>(Please select the Required fields) *Supports maximum 5 additional fields from basic and custom</i></h6>
                            </div>
                            <div class="mt-2 ml-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Customer Name
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Company Name
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Customer Pin code
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Customer Location
                                    </label>
                                </div>
                            </div>
                        </div>*@
                        <div id="customFieldDiv">
                            <div class="mt-4" style="width:100%;height:25px; background-color:#D6D6DC">
                                <h6 class="ml-2">Custom Details</h6>
                            </div>
                            <div class="col-md-12 animated bounceInUp" id="fieldContainer">
                                @Html.Partial("_dynamicFields", Model)
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="feedbackForm">
                        <div class="col-3">
                            @Html.Label("Feedback Type")
                            <div class="form-group">
                                @Html.DropDownListFor(Model => Model.feedbackType, Model.feedbackTypeList, new { @class = " form-control", required = "required" })
                            </div>
                        </div>
                        <div id="feedbackformdiv">
                            <div class="col-md-12 animated bounceInUp" id="dynamicContainer">
                                @Html.Partial("_Question", Model)
                            </div>
                        </div>
                        <div id="feedbackurldiv">
                            <div class="mt-4" style="width:100%;height:40px; background-color:#D6D6DC">
                                <h6 class="ml-2 pt-2">External URL</h6>
                            </div>
                            <div class="mt-4 ml-3 d-flex">
                                Url : @Html.TextBoxFor(Model => Model.feedbackUrl, new { @class = "form-control w-50 ml-5", required = "required" })

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="agents">
                        <div class="mt-4" style="width:100%;height:40px; background-color:#D6D6DC">
                            <h6 class="ml-2 pt-2">External URL</h6>
                        </div>
                        <div class="mt-3 col-md-3 d-flex">
                            @Html.Label("Agents")
                            <div class="form-group ml-5">
                                @Html.DropDownListFor(Model => Model.callType, Model.callTypeList, new { @class = " form-control", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="review">
                        <details>
                            <summary onclick="campaignDetails()" class="summary">Campaign Information</summary>
                            <div id="campaignDetails" class="mt-1 ml-3 mb-2">

                            </div>
                        </details>
                        <details>
                            <summary onclick="feedBack()" class="summary">Feedback</summary>
                            <div id="feedBack" class="mt-1 ml-3 mb-2">

                            </div>
                        </details>
                        @*<details>
                            <summary onclick="manageAgents()" class="summary">Manage Agents</summary>
                            <div id="manageAgents" class="mt-1 ml-3">

                            </div>
                        </details>*@
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    @*<input type="button" class="btn btn-next btn-fill btn-rose btn-wd btn-outline-success" name="next"  value="Next">*@
                    @*<input type="button" id="btnSave" onclick="save()" class="btn btn-outline-info" value="Save">*@
                    <input type="button" id="btnNext" class="btn btn-next btn-fill btn-rose btn-wd btn-outline-success" name="next" onclick="goUp(); nextShowBtn();numMaskShowHide()" value="Save & Continue">

                    @if (String.IsNullOrEmpty(ViewBag.campId))
                    {
                        /*disable sunbmitt button while sarching */
                        <button type="submit" class="btn btn-finish btn-fill btn-rose btn-wd btn-success" name="finish" value="Finish" style="display: none;">Finish</button>
                    }
                    else
                    {
                        <input type="hidden" name="Campidd" value="@ViewBag.campId" />

                        <button type="submit" class="btn btn-finish btn-fill btn-rose btn-wd btn-success" name="finish" value="Finish" style="display: none;">Update</button>
                    }
                </div>
                <div class="pull-left">
                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled btn-danger" onclick="goUp();prevShowBtn()" name="previous" value="Previous">
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/XL")

    <script>

        function nextShowBtn() {
            checkData();
            var active = document.querySelector("a.active").innerText;
            //console.log(active);
            if (active === "Customer Details") {
                document.getElementById("btnNext").value = "Continue";
                //console.log(document.getElementById("btnNext"))
            }
           
        }

        function prevShowBtn() {
            var active = document.querySelector("a.active").innerText;
            //console.log(active);
            if (active === "Feedback Form") {
                document.getElementById("btnNext").value = "Save & Continue";
            } 
        }

        function goUp() {
            
            window.location.hash = '#top';
            setTimeout(function () {
                var uri = window.location.toString();

                if (uri.indexOf("#") > 0) {
                    var clean_uri = uri.substring(0,
                        uri.indexOf("#"));

                    window.history.replaceState({},
                        document.title, clean_uri);
                }
            }, 1000);
        }

        @*function save() {
            var active = document.querySelector("a.active").innerText;
            console.log(active);
            if (active === "Basic Details") {
                var campaignName = document.getElementById("campaignName").value;
                var campaignDesc = document.getElementById("campaignDescription").value;
                console.log(campaignName)
                console.log(campaignDesc)
                if (campaignName != "" && campaignDesc != "") {
                    var form = $("#Idform");
                  $.post('@Url.Action("SaveBasicDetails", "Campaign")', form.serialize() + '&activee=' + active)
                      .done(function (response) {
                          console.log(response);
                          if (response.sts == "1") {
                              SuccessMsg(response.msg);
                          }
                          else {
                              ErrorMsg(response.msg);
                          }
                      });
                }
                else {
                    ErrorMsg("Please fill the fields")
                }
            } else if (active === "Customer Details") {

                if ($('#customFields').prop('checked')) {
                    var trueFlag = true;
                    var dynamic = document.getElementsByClassName("test-class");
                    //console.log(typeof (dynamic))
                    //console.log(dynamic.length)
                    //console.log(dynamic[0].value);
                    var objLen = dynamic.length;
                    for (i = 0; i < objLen; i++) {
                        if (dynamic[i].value === "") {
                            trueFlag = false;
                        }
                    }
                    if (trueFlag) {
                        var form = $("#Idform");
                        $.post('@Url.Action("SaveCustomerDetails", "Campaign")', form.serialize() + '&activee=' + active)
                            .done(function (response) {
                                console.log(response);
                                if (response.sts == "1") {

                                    SuccessMsg(response.msg);
                                    $("#campaId").val(response.caId);
                                    console.log("gf");
                                    console.log($("#campaId").val())
                                }
                                else {
                                    ErrorMsg(response.msg);
                                    $("#campaId").val(response.caId);

                                }
                            });
                    }
                    else {
                        ErrorMsg("Please fill the fields")
                    }
                } else {
                        var form = $("#Idform");
                        $.post('@Url.Action("SaveCustomerDetails", "Campaign")', form.serialize() + '&activee=' + active)
                            .done(function (response) {
                                console.log(response);
                                if (response.sts == "1") {
                                    SuccessMsg(response.msg);
                                    $("#campaId").val(response.caId);
                                    console.log("gf");
                                    console.log($("#campaId").val())
                                }
                                else {
                                    ErrorMsg(response.msg);
                                    $("#campaId").val(response.caId);

                                }
                            });
                }
            } 
        }*@

        function checkData() {
            //console.log("Call from CheckData")
            var active = document.querySelector("a.active").innerText;
            //console.log(active);
            if (active === "Basic Details") {
                //console.log("Saved")
                var campaignName = document.getElementById("campaignName").value;
                var campaignDesc = document.getElementById("campaignDescription").value;
                //console.log(campaignName)
                //console.log(campaignDesc)
                if (campaignName != "" && campaignDesc != "") {
                    var form = $("#Idform");
                  $.post('@Url.Action("SaveBasicDetails", "Campaign")', form.serialize() + '&activee=' + active)
                      .done(function (response) {
                          //console.log(response);
                          if (response.sts == "1") {
                              SuccessMsg(response.msg);
                              $("#campaId").val(response.caId);
                          }
                          else {
                              ErrorMsg(response.msg);
                          }
                      });
                }
                else {
                    ErrorMsg("Please fill the fields")
                }
            }else if (active === "Customer Details") {

                if ($('#customFields').prop('checked')) {
                    var trueFlag = true;
                    var dynamic = document.getElementsByClassName("test-class");
                    //console.log(typeof (dynamic))
                    //console.log(dynamic.length)
                    //console.log(dynamic[0].value);
                    var objLen = dynamic.length;
                    for (i = 0; i < objLen; i++) {
                        if (dynamic[i].value === "") {
                            trueFlag = false;
                        }
                    }
                    if (trueFlag) {
                        var form = $("#Idform");
                        $.post('@Url.Action("SaveCustomerDetails", "Campaign")', form.serialize() + '&activee=' + active)
                            .done(function (response) {
                                //console.log(response);
                                if (response.sts == "1") {
                                    SuccessMsg(response.msg);
                                    $("#campaId").val(response.caId);
                                }
                                else {
                                    ErrorMsg(response.msg);
                                }
                            });
                    }
                    else {
                        ErrorMsg("Please fill the fields")
                    }
                } else {
                        var form = $("#Idform");
                        $.post('@Url.Action("SaveCustomerDetails", "Campaign")', form.serialize() + '&activee=' + active)
                            .done(function (response) {
                                //console.log(response);
                                if (response.sts == "1") {
                                    SuccessMsg(response.msg);
                                }
                                else {
                                    ErrorMsg(response.msg);
                                }
                            });
                }
            } 
        }

        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
                        });

        $(document).ready(function () {
         @if (ViewBag.Status != null && ViewBag.Message!=null){

            if (ViewBag.Status == "1"){

                 <text>SuccessMsg('@ViewBag.Message');</text>
            }
            else{

                 <text>ErrorMsg('@ViewBag.Message');</text>

          }}

            if ($('#customFields').prop('checked')) {
                $('#customFieldDiv').show();
            }
            else {
                $('#customFieldDiv').hide();

            }

            if ($('#feedbackType').val() == "1") {
                $('#feedbackformdiv').show();
                $('#feedbackurldiv').hide();
            }
            else if ($('#feedbackType').val() == "2") {
                $('#feedbackformdiv').hide();
                $('#feedbackurldiv').show();
            }
            else {
                $('#feedbackformdiv').show();
                $('#feedbackurldiv').show();
            }     

        });

        const numMaskShowHide = () => {
            var callVal = "3";
            callVal = $('#callType').val();
            //console.log("outsidefun", callVal)
            if (callVal === "3") {
                console.log("Hello")
                $('#numMaskingDiv').hide()
            } else {
                //console.log("World")
                $('#numMaskingDiv').show()
            }
        }

        $('#customFields').on('change', function () {
            if ($('#customFields').prop('checked')) {
                $('#customFieldDiv').show();
            }
            else {
                $('#customFieldDiv').hide();

            }
        });
        $('#feedbackType').on('change', function () {
            if ($('#feedbackType').val() == "1") {
                $('#feedbackformdiv').show();
                $('#feedbackurldiv').hide();
            }
            else if ($('#feedbackType').val() == "2") {
                $('#feedbackformdiv').hide();
                $('#feedbackurldiv').show();
            }
            else {
                $('#feedbackformdiv').show();
                $('#feedbackurldiv').show();
            }
        });

        function AddQuestion() {
              try {
                  var form = $("#Idform");
                  $.post('@Url.Action("AddNewQuestion", "Campaign")', form.serialize())
                      .done(function (response) {
                          $("#dynamicContainer").html(response);


                      });
              }
              catch (error) {
                  alert(error);
              }
        }
        //DeleteQuestion
        function DeleteQuestion(elem) {
              try {
                  var form = $("#Idform");
                  $.post('@Url.Action("DeleteQuestion", "Campaign")', form.serialize() + '&ele=' + elem)
                      .done(function (response) {
                          $("#dynamicContainer").html(response);
                      });
              }
              catch (error) {
                  alert(error);
              }
        }

        //add Filed AddDynamicField
        function AddDynamicField() {
              try {
                  var form = $("#Idform");
                  $.post('@Url.Action("AddDynamicField", "Campaign")', form.serialize())
                      .done(function (response) {
                          $("#fieldContainer").html(response);


                      });
              }
              catch (error) {
                  alert(error);
              }
        }

        //Delete  Field
        function deleteField(elem) {
              try {
                  var form = $("#Idform");
                  $.post('@Url.Action("DeleteDynamicField", "Campaign")', form.serialize() + '&ele=' + elem)
                      .done(function (response) {
                          $("#fieldContainer").html(response);
                      });
              }
              catch (error) {
                  alert(error);
              }
        }




        function AddMultiplechoice(index, elem) {
              try {
                  var form = $("#Idform");
                  $.post('@Url.Action("AddMultiplechoice", "Campaign")', form.serialize() + '&index=' + index)
                      .done(function (response) {
                          $(elem).parent().parent().parent().parent().parent().html(response);

                          $(".NumFld").inputFilter(function (value) {
                              return /^\d*$/.test(value);
                          });
                      });
              }
              catch (error) {
                  alert(error);
            }

        }


        function DeleteMultipleChoice(index, elem, ele) {
              try {
                  var form = $("#Idform");
                  $.post('@Url.Action("DeleteMultipleChoice", "Campaign")', form.serialize() + '&index=' + index+ '&ele='+ele)
                      .done(function (response) {
                          $(elem).parent().parent().parent().parent().parent().html(response);

                          $(".NumFld").inputFilter(function (value) {
                              return /^\d*$/.test(value);
                          });
                      });
              }
              catch (error) {
                  alert(error);
              }
        }

        function ShowChoice(element) {
            //console.log($(element).val());

            if ($(element).val() == "3") {
                $(element).siblings("#dynamicContainer_Choice").show();
                var ele = (element);
                //console.log(ele);

                //$(element).siblings("#dynamicContainer_Choice").children().find("#question_0__multipleChoices_0__choiceValue").attr('required', true);
                $(element).siblings("#dynamicContainer_Choice").find("tr").each(function () {
                    $(this).find("#question_0__multipleChoices_0__choiceValue").attr('required', true);
                    //console.log($(this).find("#question_0__multipleChoices_0__choiceValue"));
                });



            }

            else {
                $(element).siblings("#dynamicContainer_Choice").find("tr").each(function () {
                    $(this).find("#question_0__multipleChoices_0__choiceValue").attr('required', false);
                    //console.log($(this).find("#question_0__multipleChoices_0__choiceValue"));
                });
                $(element).siblings("#dynamicContainer_Choice").hide();
                //$(element).siblings("#dynamicContainer_Choice").children().find("#question_0__multipleChoices_0__choiceValue").attr('required', false);


            }
        }


        function campaignDetails() {
                     //console.log("clicked");
                    var url = "@Url.Action(MVC.Campaign.createjsonforpreview())";
                    var data2 = $("#Idform").serialize();
                    //console.log(data2);
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data2,
                        success: function (data) {
                            //console.log(data);
                            var callType = ""
                            var numberMasking = "No"
                            var customFields = "No"
                            var agentMapping = "Equal Division"
                            if (data.numberMasking === true) {
                                numberMasking = "Yes"
                            }
                            if (data.customFields === true) {
                                customFields = "Yes"
                            }
                            if (data.callType === "1") {
                                callType = "Click 2 Call"
                            } else if (data.callType === "2") {
                                callType = "Agent Dialer-Cloud"
                            }else {
                                callType = "Agent Dialer-Direct"
                            }
                            if (data.agentMapping === true) {
                                agentMapping = "From File"
                            } 
                            document.getElementById("campaignDetails").innerHTML = `
                            <div class="d-flex">
                                <div class="w-25">Campaign Name </div>
                                <div>: ${data.campaignName} </div>
                            </div>
                            <div class="d-flex">
                                <div class="w-25">Campaign Description </div>
                                <div>: ${data.campaignDescription} </div>
                            </div>
                            <div class="d-flex">
                                <div class="w-25">Call Type </div>
                                <div>: ${callType}</div>
                            </div>
                            <div class="d-flex">
                                <div class="w-25">Custom Fields </div>
                                <div>: ${customFields}</div>
                            </div>
                            <div class="d-flex">
                                <div class="w-25">Number Masking </div>
                                <div>: ${numberMasking}</div>
                            </div>
                            <div class="d-flex">
                                <div class="w-25">Agent Mapping </div>
                                <div>: ${agentMapping}</div>
                            </div>

                        `
                        }
                    })
        }

        function feedBack() {
            var clicks = $(this).data('clicks');
            if (clicks) {
                document.getElementById("feedBack").innerHTML = "";
                goUp();
            } else {
                var url = "@Url.Action(MVC.Campaign.createjsonforpreview())";
                    var data2 = $("#Idform").serialize();
                    //console.log(data2);
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data2,
                        success: function (data) {
                            //console.log(data);
                            if (data.feedbackType === "1") {
                                data.question.map((ele, index) => {
                                    if (ele.questionType === "1") {
                                        var newElement = document.createElement('div');
                                        newElement.innerHTML = `
                                    <h6>Question ${index + 1}</h6>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">${ele.questionValue}</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Answer Here..">
                                    </div>
                                    `;
                                        document.getElementById("feedBack").appendChild(newElement);
                                    }
                                    else if (ele.questionType === "2") {
                                        //console.log("else if 2")
                                        var newElement = document.createElement('div');
                                        newElement.innerHTML = `
                                    <h6>Question ${index + 1}</h6>
                                    <label class="text text-sm-left"></label>${ele.questionValue}<br />
                                    <div class="ml-3 form-check form-check-inline">
                                        <input class="form-check-input" type="radio"  value="option1" name="radios" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="option2" name="radios" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">No</label>
                                    </div>
                                    `;
                                        document.getElementById("feedBack").appendChild(newElement);
                                    }
                                    else if (ele.questionType === "3") {
                                        var newElement = document.createElement('div');
                                        var choiceQuestions = `
                                     <h6>Question ${index + 1}</h6>
                                    <label>${ele.questionValue}</label>
                                    `
                                        ele.multipleChoices.forEach(function (ch) {
                                            choiceQuestions += `<div class="form-check">
                                        <input type="checkbox">
                                        <label>${ch.choiceValue}</label>
                                        </div>`
                                        });
                                        newElement.innerHTML = choiceQuestions
                                        document.getElementById("feedBack").appendChild(newElement);
                                    }
                                })
                            } else if (data.feedbackType === "2") {
                                var newElement = document.createElement('div');
                                var url = ""
                                if (data.feedbackUrl.includes("http")) {
                                    url = data.feedbackUrl;
                                } else {
                                    url = "https://"+data.feedbackUrl
                                }
                                //console.log(url)
                                newElement.innerHTML = `
                                    <h6>External Url</h6>
                                    <div class="form-group">
                                       &emsp; <a href=${url} target ="_blank">Click here to View "${data.feedbackUrl}" </a>
                                    </div>
                                    `;
                                document.getElementById("feedBack").appendChild(newElement);
                                //console.log("url printed")
                            } else {
                                data.question.map((ele, index) => {
                                    if (ele.questionType === "1") {
                                        var newElement = document.createElement('div');
                                        newElement.innerHTML = `
                                    <h6>Question ${index + 1}</h6>
                                    <div class="form-group">
                                        <label for="exampleFormControlInput1">${ele.questionValue}</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Answer Here..">
                                    </div>
                                    `;
                                        document.getElementById("feedBack").appendChild(newElement);
                                    }
                                    else if (ele.questionType === "2") {
                                        //console.log("else if 2")
                                        var newElement = document.createElement('div');
                                        newElement.innerHTML = `
                                    <h6>Question ${index + 1}</h6>
                                    <label class="text text-sm-left"></label>${ele.questionValue}<br />
                                    <div class="ml-3 form-check form-check-inline">
                                        <input class="form-check-input" type="radio"  value="option1" name="radios" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="option2" name="radios" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">No</label>
                                    </div>
                                    `;
                                        document.getElementById("feedBack").appendChild(newElement);
                                    }
                                    else if (ele.questionType === "3") {
                                        var newElement = document.createElement('div');
                                        var choiceQuestions = `
                                     <h6>Question ${index + 1}</h6>
                                    <label>${ele.questionValue}</label>
                                    `
                                        ele.multipleChoices.forEach(function (ch) {
                                            choiceQuestions += `<div class="form-check">
                                        <input type="checkbox">
                                        <label>${ch.choiceValue}</label>
                                        </div>`
                                        });
                                        newElement.innerHTML = choiceQuestions
                                        document.getElementById("feedBack").appendChild(newElement);
                                    }
                                })
                                
                                var newElement = document.createElement('div');
                                var url = ""
                                if (data.feedbackUrl.includes("http")) {
                                    url = data.feedbackUrl;
                                } else {
                                    url = "https://" + data.feedbackUrl
                                }
                                //console.log(url)
                                newElement.innerHTML = `
                                    <h6>External Url</h6>
                                    <div class="form-group">
                                       &emsp; <a href=${url} target ="_blank">Click here to View "${data.feedbackUrl}" </a>
                                    </div>
                                    `;
                                document.getElementById("feedBack").appendChild(newElement);
                            }

                        }
                    })
            }
            $(this).data("clicks", !clicks);
        };

        //function manageAgents() {
        //    var clicks = $(this).data('clicks');
        //    if (clicks) {
        //        document.getElementById("manageAgents").innerHTML = "";
        //        console.log('odd number of clicks');
        //    } else {
        //        console.log('even number of clicks');
        //    }
        //    $(this).data("clicks", !clicks);
        //};

        function editPreview() {
            $('.modal-backdrop').click(clearForm());
            var form = $('#Idform').serialize();
            var url = "@Url.Action(MVC.Campaign.createjsonforpreview())";
            $.ajax({
                type: "POST",
                url: url,
                data: form,
                success: function (data) {
                    //agentid
                    //console.log(data);
                    document.getElementById("exampleModalLongTitle").innerHTML = data.campaignName;
                    document.getElementById("campaigndescription").innerHTML = data.campaignDescription;
                    if (data.callType === "1") {
                        document.getElementById("agentType").innerHTML = "Call Type : Click 2 Call"
                    }
                    else {
                        document.getElementById("agentType").innerHTML = "Call Type : Agent Dialer"
                    }

                    //data.question.map(e => {
                    //    e.multipleChoices.map(ch => {
                    //        console.log(ch.choiceValue);
                    //    })
                    //})

                    document.getElementById("formhead").innerHTML = "<h5>Customer Feedback Form</h5>"

                    data.question.map((e, index) => {
                        //console.log(e.questionType, e.questionValue);
                        if (e.questionValue === null) {
                            document.getElementById("formhead").innerHTML = " "
                            var newElement = document.createElement('div');
                            newElement.innerHTML = `
                            <h6 class="alert alert-danger text-white">Form is Empty</h6>
                        `;
                            document.getElementById("questionPreview").appendChild(newElement);
                        }

                        else if (e.questionType === "1") {
                            var newElement = document.createElement('div');
                            newElement.innerHTML = `
                            <h6>Question ${index + 1}</h6>
                             <div class="form-group">
                                  <label for="exampleFormControlInput1">${e.questionValue}</label>
                                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Answer Here..">
                             </div>
                    `;
                            document.getElementById("questionPreview").appendChild(newElement);
                        }
                        else if (e.questionType === "2") {
                            var newElement = document.createElement('div');
                            newElement.innerHTML = `
                            <h6>Question ${index + 1}</h6>
                            <label class="text text-sm-left"></label>${e.questionValue}<br />
                             <div class="ml-3 form-check form-check-inline">
                                  <input class="form-check-input" type="radio"  value="option1" name="radios" id="defaultCheck1">
                                  <label class="form-check-label" for="defaultCheck1">
                                      Yes
                                  </label>
                              </div>
                              <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" value="option2" name="radios" id="defaultCheck2">
                                   <label class="form-check-label" for="defaultCheck2">
                                        No
                                    </label>
                                </div>

                    `;
                            document.getElementById("questionPreview").appendChild(newElement);
                        }

                        else if (e.questionType === "3") {
                            var newElement = document.createElement('div');

                            var choiceQuestions = `
                                <h6>Question ${index + 1}</h6>
                                <label>${e.questionValue}</label>
                            `
                            e.multipleChoices.forEach(function (ch) {
                                choiceQuestions += `<div class="form-check">
                                        <input type="checkbox">
                                        <label>${ch.choiceValue}</label>
                                    </div>`
                            });

                            newElement.innerHTML = choiceQuestions;

                            document.getElementById("questionPreview").appendChild(newElement);
                        }

                    })

                }
            })
        }

    //NewScripts
    $(document).ready(function () {
            //Wizards
            demo.initNowUiWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
        });

    </script>
}




