<style>
    .smallSpan {
        width: 20px;
        background-color:red;
    }
    .navact {
        background-color: #530d3e !important;
    }
    .not-close1{
        margin-left:5px;
    }
    body {
        font-size: 13px !important;
        /*color: #5f004b;*/
    }
</style>

<div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" data-ps-id="131e9311-ee64-0e96-773f-c47a19cdc8dc">
    <div class="" style="margin-left:50px; width:100px">
        <div class="photo">
            <img src="~/Content/Images/Vi12.PNG" />
        </div>

        @*<div class="info">
                    <a class="collapsed" aria-expanded="false" href="#collapseExample" data-toggle="collapse">
                        <span style="    font-weight: 600;
            color: #fff;
            font-size: 14px;">
                            @Session["Username"].ToString()
                        </span>
                    </a>
                </div>*@
    </div>


    @if (Session["RoleID"].ToString() == "1" || Session["RoleID"].ToString() == "2" || Session["RoleID"].ToString() == "3" || Session["RoleID"].ToString() == "4")
    {
        <ul class="nav">
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "insights" ? "navact active" : "") not-close">
                <a href="home/insights">
                    @*<i class="now-ui-icons files_single-copy-04"></i>*@
                    <i style="color:white" class=" now-ui-icons fa fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
        </ul>

        <ul class="nav">
            <li class="not-close">
                <a data-toggle="collapse" href="#smsservices">
                    @*<i class="now-ui-icons files_single-copy-04"></i>*@
                    @*<i><img src="~/assets/img/megaphone.png" style="height:23px"></i>*@
                    <i style="color:white" class="now-ui-icons ui-1_email-85 sidebar-mini-icon"></i>

                    <p>
                        SMS services  <b class="caret"></b>
                    </p>
                </a>
                <div class="@((ViewContext.RouteData.Values["Action"].ToString() == "BulkSms") || (ViewContext.RouteData.Values["Action"].ToString() == "InstantSms")  ? "collapse show" : "collapse") not-close" id="smsservices">
                    <ul class="nav">


                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "BulkSms" ? "navact active" : "") not-close">

                            <a href="Campaign/BulkSms" class="not-close">
                                <i class="fa fa-comments sidebar-mini-icon"></i>
                                <span class="sidebar-normal"> BULK SMS </span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "InstantSms" ? "navact active" : "") not-close">

                            <a href="Campaign/InstantSms" class="not-close">
                                <i class="fa fa-comment-alt sidebar-mini-icon"></i>
                                <span class="sidebar-normal"> INSTANT SMS </span>
                            </a>
                        </li>


                    </ul>
                    <ul class="nav">
                        <li class="not-close">
                            <a data-toggle="collapse" href="#ApiSms">
                                @*<i class="now-ui-icons files_single-copy-04"></i>*@
                                @*<i><img src="~/assets/img/megaphone.png" style="height:23px"></i>*@
                                <i style="color:white" class="fa fa-share-square sidebar-mini-icon"></i>

                                <p>
                                    API SMS <b class="caret"></b>
                                </p>
                            </a>
                            <div class="@((ViewContext.RouteData.Values["Action"].ToString() == "ApiBulk") || (ViewContext.RouteData.Values["Action"].ToString() == "ApiNotification") ? "collapse show" : "collapse") not-close" id="ApiSms">
                                <ul class="nav">



                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ApiBulk" ? "navact active" : "") not-close1">

                                        <a @*href="Campaign/ApiBulk" class="not-close"*@>
                                            <span class="fa fa-th-large sidebar-mini-icon"></span>
                                            <span class="sidebar-normal"> API - BULK SMS </span>
                                        </a>
                                    </li>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ApiNotification" ? "navact active" : "") not-close1">

                                        <a @*href="Campaign/ApiNotification" class="not-close"*@>
                                            <span class="fa fa-th-large sidebar-mini-icon"></span>
                                            <span class="sidebar-normal"> API - NOTIFICATION SMS </span>
                                        </a>
                                    </li>



                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav">


                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SmppConnect" ? "navact active" : "") not-close">

                            <a @*href="Campaign/SmppConnect" class="not-close"*@>
                                <span class="fa fa-external-link-square-alt sidebar-mini-icon"></span>
                                <span class="sidebar-normal"> SMPP CONNECT </span>
                            </a>
                        </li>


                    </ul>

                </div>
            </li>
        </ul>

        <ul class="nav">
            <li class="not-close">
                <a data-toggle="collapse" href="#Management">
                    @*<i class="now-ui-icons files_single-copy-04"></i>*@
                    <i style="color:white" class=" now-ui-icons ui-1_email-85 sidebar-mini-icon"></i>
                    <p>
                        MANAGEMENT <b class="caret"></b>
                    </p>
                </a>
                <div class="@((ViewContext.RouteData.Values["Action"].ToString() == "Management") ? "collapse show" : "collapse") not-close" id="Management">
                    <ul class="nav">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "account" ? "navact active" : "") not-close">
                            <a @*href="Campaign/account" class="not-close"*@>
                                <span class="fa fa-share-square sidebar-mini-icon"></span>
                                <span class="sidebar-normal">ACCOUNT</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "template" ? "navact active" : "") not-close">
                            <a @*href="Campaign/template" class="not-close"*@>
                                <span class="fa fa-comments sidebar-mini-icon"></span>
                                <span class="sidebar-normal">TEMPLATE</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "senderId" ? "navact active" : "") not-close">
                            <a @*href="Campaign/senderId" class="not-close"*@>
                                <span class="fa fa-comment-alt sidebar-mini-icon"></span>
                                <span class="sidebar-normal">SENDER ID</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>
        </ul>

        @*<ul class="nav">
            <li class="not-close">
                <a data-toggle="collapse" href="#Preference">*@
        @*<i class="now-ui-icons files_single-copy-04"></i>*@
        @*<i style="color:white" class=" now-ui-icons ui-1_email-85 sidebar-mini-icon"></i>
                <p>
                    PREFERENCE <b class="caret"></b>
                </p>
            </a>*@
        @*<div class="@((ViewContext.RouteData.Values["Action"].ToString() == "AgentManagement") ? "collapse show" : "collapse") not-close" id="Preference">
                        <ul class="nav">

                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AgentManagement" ? "navact active" : "") not-close">
                                <a @*href="Campaign/AgentManagement" class="not-close">
                                    <span class="sidebar-mini-icon">A</span>
                                    <span class="sidebar-normal">Agent Management</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>*@
        <ul class="nav">
            <li class="not-close">
                <a data-toggle="collapse" href="#Reports">
                    @*<i class="now-ui-icons files_single-copy-04"></i>*@
                    <i style="color:white" class="now-ui-icons files_single-copy-04"></i>
                    <p>
                        REPORTS <b class="caret"></b>
                    </p>
                </a>
                <div class="@((ViewContext.RouteData.Values["Action"].ToString() == "Reports") ? "collapse show" : "collapse") not-close" id="Reports">
                    <ul class="nav">

                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Detailedreport" ? "navact active" : "") not-close">
                            <a href="Reports/DetailedReport" class="not-close">
                                <span class="sidebar-mini-icon">DR</span>
                                <span class="sidebar-normal">Detailed Report</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    }
</div>
